@keyframes sliderAnim {
  from {
    transform: scale(0.8);
    border-radius: 50%;
  }
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  to {
    transform: scale(1);
    border-radius: 10rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  color: #fff;
}

.app {
  background-color: rgb(238, 237, 233);
  width: 100vw;
  position: relative;
}

.main {
  position: relative;
}

section {
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: transparent;
  width: min(80%, 100vw);
  margin: 0 auto;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.delete {
  display: none;
}

.defaultFixHyperlink {
  color: black;
  text-decoration: none;
}

.header {
  font-size: 1.8rem;
}

.primary-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  position: absolute;
  top: 30%;
  font-size: 3rem;
  z-index: 2;
  animation: homeContentAnim 3s ease forwards;
  backface-visibility: hidden;
}

.primary-text-box h1 {
  font-size: 48px;
  font-weight: 100;
  line-height: 6rem;
}

.primary-text-box h1 span {
  font-weight: 600;
  color: rgb(84, 84, 255);
}

@keyframes homeContentAnim {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}
.header .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  animation: headerAnim 1s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.header {
  position: absolute;
  width: 100%;
  height: 8rem;
  z-index: 3;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  justify-content: flex-end;
}
.header__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  list-style: none;
}
.header__ul-li {
  cursor: pointer;
}
.header__ul-li a {
  text-decoration: none;
  color: currentColor;
}

@keyframes headerFixedAnim {
  from {
    transform: translateY(-10rem);
  }
  to {
    transform: translateY(0rem);
  }
}
@keyframes headerAnim {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
.playerContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202020;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerBtnContainer {
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.player_video-box {
  width: 60%;
  animation: playerVideo 1s ease-in forwards;
}

@keyframes playerVideo {
  from {
    transform: scale(0) rotate(-50deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes playerAnimOn {
  from {
    transform: translateY(200vh) rotate(45deg);
  }
  to {
    transform: translateY(0px) rotate(0deg);
    visibility: visible;
  }
}
@keyframes playerAnimOff {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    visibility: hidden;
  }
}
.homeSectionOne {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.homeSectionOne__container {
  width: 100%;
  height: 100%;
  color: white;
  animation: homeSectionAnim 1.5s cubic-bezier(0.73, -0.03, 0.17, 0.99);
  overflow: hidden;
}

.homeSectionOne .container {
  position: relative;
  height: 100%;
}

@keyframes homeSectionAnim {
  from {
    transform: scale(0) rotate(30deg);
    border-radius: 80%;
  }
  to {
    transform: scale(1) rotate(0deg);
    border-radius: 0rem;
  }
}
.homeSectionTwo {
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(1, 1, 46);
}

.homeSectionThree {
  background-color: rgb(255, 255, 255);
}

#stars-container {
  width: 100vw;
  position: absolute;
  z-index: 0;
  background: radial-gradient(ellipse at bottom, #000000 0%, #191f24 100%);
  overflow: hidden;
  -webkit-transform: translate(-50, -50%);
  -ms-transform: translate(-50, -50%);
  -o-transform: translate(-50, -50%);
  transform: translate(-50, -50%);
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 519px 1223px #0000FF , 940px 1297px #0000FF , 1371px 804px #0000FF , 1024px 313px #0000FF , 716px 812px #0000FF , 249px 554px #0000FF , 51px 1993px #0000FF , 387px 1942px #0000FF , 1231px 1404px #0000FF , 1825px 1134px #0000FF , 512px 1034px #0000FF , 346px 456px #0000FF , 853px 1291px #0000FF , 706px 1613px #0000FF , 1800px 665px #0000FF , 100px 1162px #0000FF , 560px 1669px #0000FF , 70px 1180px #0000FF , 1837px 1195px #0000FF , 603px 1667px #0000FF , 1805px 831px #0000FF , 810px 1834px #0000FF , 1949px 1913px #0000FF , 1858px 795px #0000FF , 382px 384px #0000FF , 1436px 469px #0000FF , 433px 1390px #0000FF , 931px 819px #0000FF , 1078px 572px #0000FF , 1835px 1115px #0000FF , 1711px 745px #0000FF , 561px 1662px #0000FF , 834px 1294px #0000FF , 1636px 1264px #0000FF , 758px 923px #0000FF , 1582px 1945px #0000FF , 704px 1232px #0000FF , 265px 155px #0000FF , 1167px 884px #0000FF , 1491px 1239px #0000FF , 1740px 1832px #0000FF , 1453px 1035px #0000FF , 173px 1966px #0000FF , 522px 83px #0000FF , 1633px 391px #0000FF , 1662px 1393px #0000FF , 588px 494px #0000FF , 1389px 305px #0000FF , 643px 650px #0000FF , 1364px 1287px #0000FF , 1098px 1879px #0000FF , 943px 1731px #0000FF , 451px 1548px #0000FF , 1972px 1349px #0000FF , 369px 1070px #0000FF , 1383px 143px #0000FF , 860px 51px #0000FF , 1927px 270px #0000FF , 12px 1261px #0000FF , 1834px 194px #0000FF , 883px 1578px #0000FF , 1703px 1802px #0000FF , 698px 1198px #0000FF , 1505px 822px #0000FF , 290px 1975px #0000FF , 659px 208px #0000FF , 799px 1428px #0000FF , 1493px 1043px #0000FF , 428px 1715px #0000FF , 210px 1199px #0000FF , 347px 8px #0000FF , 1091px 372px #0000FF , 1533px 500px #0000FF , 1509px 841px #0000FF , 1448px 1293px #0000FF , 1884px 1473px #0000FF , 712px 26px #0000FF , 116px 759px #0000FF , 1767px 1688px #0000FF , 1594px 357px #0000FF , 1531px 1584px #0000FF , 309px 1598px #0000FF , 847px 1152px #0000FF , 150px 654px #0000FF , 1568px 263px #0000FF , 1056px 1351px #0000FF , 1990px 442px #0000FF , 338px 265px #0000FF , 575px 1587px #0000FF , 166px 480px #0000FF , 698px 520px #0000FF , 222px 1053px #0000FF , 225px 425px #0000FF , 1943px 476px #0000FF , 1135px 179px #0000FF , 1510px 1024px #0000FF , 1415px 819px #0000FF , 917px 762px #0000FF , 1491px 1445px #0000FF , 1540px 1547px #0000FF , 290px 1104px #0000FF , 751px 1936px #0000FF , 788px 753px #0000FF , 1931px 1256px #0000FF , 1407px 239px #0000FF , 1475px 1434px #0000FF , 1140px 1424px #0000FF , 295px 1701px #0000FF , 1717px 1276px #0000FF , 1749px 1535px #0000FF , 1187px 790px #0000FF , 190px 841px #0000FF , 718px 671px #0000FF , 884px 1755px #0000FF , 1907px 885px #0000FF , 1436px 327px #0000FF , 31px 1262px #0000FF , 1365px 618px #0000FF , 1593px 1243px #0000FF , 777px 789px #0000FF , 1264px 716px #0000FF , 1649px 1341px #0000FF , 425px 1596px #0000FF , 513px 579px #0000FF , 1549px 1566px #0000FF , 769px 85px #0000FF , 1404px 1300px #0000FF , 1351px 397px #0000FF , 622px 520px #0000FF , 84px 579px #0000FF , 1395px 1405px #0000FF , 537px 1203px #0000FF , 769px 1574px #0000FF , 728px 1px #0000FF , 1989px 1225px #0000FF , 686px 1473px #0000FF , 1836px 828px #0000FF , 1760px 889px #0000FF , 637px 431px #0000FF , 1924px 1628px #0000FF , 979px 314px #0000FF , 711px 1801px #0000FF , 1585px 1788px #0000FF , 73px 1038px #0000FF , 157px 1149px #0000FF , 1377px 1893px #0000FF , 659px 574px #0000FF , 482px 1468px #0000FF , 1938px 335px #0000FF , 1616px 1019px #0000FF , 508px 1377px #0000FF , 1097px 585px #0000FF , 18px 1045px #0000FF , 619px 892px #0000FF , 32px 1769px #0000FF , 537px 1813px #0000FF , 818px 1911px #0000FF , 1482px 909px #0000FF , 1854px 945px #0000FF , 238px 577px #0000FF , 902px 1639px #0000FF , 1312px 1969px #0000FF , 1522px 1408px #0000FF , 1805px 1490px #0000FF , 1978px 41px #0000FF , 1066px 1308px #0000FF , 1050px 1294px #0000FF , 1px 1319px #0000FF , 112px 511px #0000FF , 239px 1154px #0000FF , 1807px 754px #0000FF , 1981px 502px #0000FF , 430px 1852px #0000FF , 1819px 358px #0000FF , 229px 315px #0000FF , 55px 1082px #0000FF , 334px 1657px #0000FF , 1450px 1724px #0000FF , 742px 1568px #0000FF , 1934px 1643px #0000FF , 1359px 1168px #0000FF , 1287px 428px #0000FF , 220px 701px #0000FF , 1957px 600px #0000FF , 1876px 1932px #0000FF , 623px 1545px #0000FF , 1773px 563px #0000FF , 309px 926px #0000FF , 925px 891px #0000FF , 194px 544px #0000FF , 1748px 16px #0000FF , 1702px 1706px #0000FF , 1157px 854px #0000FF , 316px 1240px #0000FF , 1887px 435px #0000FF , 1933px 1619px #0000FF , 538px 1048px #0000FF , 1642px 1519px #0000FF , 859px 1331px #0000FF , 35px 1118px #0000FF , 1679px 356px #0000FF , 316px 1876px #0000FF , 1643px 864px #0000FF , 875px 1690px #0000FF , 1840px 1188px #0000FF , 350px 819px #0000FF , 215px 405px #0000FF , 111px 1373px #0000FF , 1942px 1933px #0000FF , 476px 843px #0000FF , 729px 787px #0000FF , 1306px 849px #0000FF , 1779px 639px #0000FF , 927px 431px #0000FF , 647px 13px #0000FF , 1614px 1712px #0000FF , 284px 1677px #0000FF , 316px 588px #0000FF , 1544px 521px #0000FF , 544px 1699px #0000FF , 1682px 671px #0000FF , 1224px 1330px #0000FF , 1609px 1902px #0000FF , 627px 1369px #0000FF , 1063px 640px #0000FF , 735px 927px #0000FF , 65px 1300px #0000FF , 667px 1156px #0000FF , 611px 1349px #0000FF , 817px 799px #0000FF , 1855px 1005px #0000FF , 1809px 921px #0000FF , 1038px 77px #0000FF , 633px 1456px #0000FF , 1957px 1217px #0000FF , 976px 1104px #0000FF , 891px 834px #0000FF , 510px 761px #0000FF , 42px 1448px #0000FF , 538px 1911px #0000FF , 1307px 138px #0000FF , 280px 97px #0000FF , 1838px 1890px #0000FF , 940px 452px #0000FF , 877px 521px #0000FF , 14px 1034px #0000FF , 1418px 1108px #0000FF , 649px 1513px #0000FF , 1358px 1930px #0000FF , 411px 30px #0000FF , 564px 612px #0000FF , 108px 331px #0000FF , 24px 55px #0000FF , 1660px 1912px #0000FF , 1664px 1456px #0000FF , 411px 1206px #0000FF , 1538px 1770px #0000FF , 259px 1237px #0000FF , 407px 1224px #0000FF , 79px 1596px #0000FF , 42px 925px #0000FF , 1813px 635px #0000FF , 1284px 843px #0000FF , 840px 322px #0000FF , 468px 164px #0000FF , 341px 519px #0000FF , 1437px 1035px #0000FF , 106px 1647px #0000FF , 916px 849px #0000FF , 4px 785px #0000FF , 356px 1435px #0000FF , 1761px 736px #0000FF , 469px 827px #0000FF , 1073px 439px #0000FF , 841px 1590px #0000FF , 972px 404px #0000FF , 1238px 112px #0000FF , 1366px 817px #0000FF , 29px 1332px #0000FF , 1618px 1609px #0000FF , 191px 1941px #0000FF , 1600px 1284px #0000FF , 1329px 1662px #0000FF , 691px 861px #0000FF , 1446px 308px #0000FF , 1552px 673px #0000FF , 960px 1278px #0000FF , 1782px 1106px #0000FF , 259px 630px #0000FF , 920px 1920px #0000FF , 756px 1561px #0000FF , 1545px 255px #0000FF , 67px 311px #0000FF , 461px 637px #0000FF , 1421px 734px #0000FF , 549px 1666px #0000FF , 140px 391px #0000FF , 1401px 316px #0000FF , 369px 613px #0000FF , 1129px 1625px #0000FF , 1642px 294px #0000FF , 1370px 1144px #0000FF , 610px 1447px #0000FF , 1167px 130px #0000FF , 257px 1022px #0000FF , 1667px 1655px #0000FF , 356px 1903px #0000FF , 1753px 1354px #0000FF , 1773px 1466px #0000FF , 1748px 1337px #0000FF , 1570px 14px #0000FF , 1889px 1329px #0000FF , 692px 250px #0000FF , 1155px 1882px #0000FF , 1657px 759px #0000FF , 1402px 580px #0000FF , 719px 167px #0000FF , 476px 702px #0000FF , 1206px 198px #0000FF , 172px 1425px #0000FF , 1052px 1328px #0000FF , 782px 396px #0000FF , 53px 1788px #0000FF , 1883px 1108px #0000FF , 1099px 987px #0000FF , 1463px 1694px #0000FF , 789px 1343px #0000FF , 225px 988px #0000FF , 1044px 1837px #0000FF , 1699px 1341px #0000FF , 1814px 1111px #0000FF , 1519px 1127px #0000FF , 1392px 1991px #0000FF , 14px 439px #0000FF , 273px 1616px #0000FF , 14px 950px #0000FF , 1273px 1130px #0000FF , 349px 192px #0000FF , 793px 1360px #0000FF , 1150px 1847px #0000FF , 738px 314px #0000FF , 457px 835px #0000FF , 563px 752px #0000FF , 1602px 236px #0000FF , 1656px 986px #0000FF , 611px 742px #0000FF , 1240px 248px #0000FF , 1668px 1058px #0000FF , 741px 1206px #0000FF , 666px 181px #0000FF , 1114px 197px #0000FF , 1497px 396px #0000FF , 279px 1548px #0000FF , 1533px 1380px #0000FF , 1113px 65px #0000FF , 111px 1260px #0000FF , 1433px 107px #0000FF , 367px 1238px #0000FF , 702px 1806px #0000FF , 1284px 1116px #0000FF , 627px 367px #0000FF , 228px 871px #0000FF , 903px 1765px #0000FF , 759px 1972px #0000FF , 38px 1975px #0000FF , 482px 363px #0000FF , 1786px 418px #0000FF , 1337px 805px #0000FF , 1609px 605px #0000FF , 1006px 625px #0000FF , 742px 1835px #0000FF , 1990px 766px #0000FF , 1913px 1129px #0000FF , 1466px 1550px #0000FF , 1151px 148px #0000FF , 389px 738px #0000FF , 1679px 544px #0000FF , 1103px 1536px #0000FF , 9px 1049px #0000FF , 243px 248px #0000FF , 262px 515px #0000FF , 1513px 1827px #0000FF , 373px 825px #0000FF , 794px 702px #0000FF , 1630px 1269px #0000FF , 1411px 800px #0000FF , 1082px 129px #0000FF , 243px 1813px #0000FF , 1515px 762px #0000FF , 210px 278px #0000FF , 1887px 804px #0000FF , 1233px 127px #0000FF , 1213px 290px #0000FF , 378px 1939px #0000FF , 1842px 697px #0000FF , 879px 100px #0000FF , 109px 408px #0000FF , 1605px 1920px #0000FF , 600px 1667px #0000FF , 472px 1106px #0000FF , 1272px 122px #0000FF , 1376px 1607px #0000FF , 524px 477px #0000FF , 44px 1772px #0000FF , 584px 412px #0000FF , 383px 1407px #0000FF , 1366px 1202px #0000FF , 1822px 722px #0000FF , 1650px 1949px #0000FF , 294px 1169px #0000FF , 1653px 1622px #0000FF , 1865px 35px #0000FF , 766px 693px #0000FF , 675px 978px #0000FF , 1272px 409px #0000FF , 378px 519px #0000FF , 330px 1335px #0000FF , 1421px 211px #0000FF , 1910px 1468px #0000FF , 386px 1954px #0000FF , 1937px 1663px #0000FF , 1351px 1702px #0000FF , 604px 1621px #0000FF , 83px 940px #0000FF , 972px 784px #0000FF , 976px 1197px #0000FF , 1649px 1850px #0000FF , 1491px 308px #0000FF , 547px 780px #0000FF , 863px 1380px #0000FF , 885px 1549px #0000FF , 1405px 1147px #0000FF , 1518px 363px #0000FF , 641px 904px #0000FF , 1552px 761px #0000FF , 1441px 676px #0000FF , 567px 441px #0000FF , 1486px 600px #0000FF , 1792px 818px #0000FF , 1627px 1500px #0000FF , 1242px 135px #0000FF , 1736px 597px #0000FF , 1134px 296px #0000FF , 696px 590px #0000FF , 1892px 427px #0000FF , 305px 509px #0000FF , 1726px 1060px #0000FF , 313px 524px #0000FF , 984px 698px #0000FF , 1644px 360px #0000FF , 1632px 635px #0000FF , 293px 67px #0000FF , 1849px 1589px #0000FF , 1762px 1064px #0000FF , 754px 1198px #0000FF , 1759px 80px #0000FF , 1838px 183px #0000FF , 510px 1183px #0000FF , 1616px 200px #0000FF , 758px 1330px #0000FF , 52px 497px #0000FF , 1344px 389px #0000FF , 360px 1674px #0000FF , 1705px 297px #0000FF , 260px 921px #0000FF , 591px 331px #0000FF , 480px 1278px #0000FF , 317px 350px #0000FF , 289px 975px #0000FF , 1542px 37px #0000FF , 1227px 1593px #0000FF , 1463px 1439px #0000FF , 1757px 1956px #0000FF , 533px 1478px #0000FF , 899px 630px #0000FF , 277px 1275px #0000FF , 564px 18px #0000FF , 1915px 1024px #0000FF , 1138px 503px #0000FF , 1475px 1254px #0000FF , 1319px 21px #0000FF , 996px 857px #0000FF , 1148px 121px #0000FF , 1744px 1893px #0000FF , 87px 22px #0000FF , 1336px 1892px #0000FF , 1301px 1011px #0000FF , 1254px 1968px #0000FF , 792px 1115px #0000FF , 1244px 217px #0000FF , 1546px 1944px #0000FF , 1364px 28px #0000FF , 13px 1474px #0000FF , 1274px 583px #0000FF , 1191px 1406px #0000FF , 1586px 1682px #0000FF , 1541px 1244px #0000FF , 1435px 1400px #0000FF , 123px 911px #0000FF , 1248px 1549px #0000FF , 1343px 1093px #0000FF , 359px 714px #0000FF , 1072px 741px #0000FF , 1645px 514px #0000FF , 1016px 257px #0000FF , 577px 65px #0000FF , 1143px 407px #0000FF , 1981px 1433px #0000FF , 853px 230px #0000FF , 1576px 1853px #0000FF , 200px 107px #0000FF , 1163px 844px #0000FF , 1008px 1153px #0000FF , 1347px 485px #0000FF , 1494px 990px #0000FF , 1504px 897px #0000FF , 1913px 1654px #0000FF , 1990px 1919px #0000FF , 619px 894px #0000FF , 1003px 1198px #0000FF , 1528px 1766px #0000FF , 334px 1448px #0000FF , 1235px 1296px #0000FF , 161px 1269px #0000FF , 1677px 1097px #0000FF , 996px 1708px #0000FF , 664px 1710px #0000FF , 739px 275px #0000FF , 1764px 1261px #0000FF , 1595px 961px #0000FF , 485px 1874px #0000FF , 903px 1628px #0000FF , 1878px 203px #0000FF , 1064px 1035px #0000FF , 494px 724px #0000FF , 193px 238px #0000FF , 1749px 1219px #0000FF , 1425px 424px #0000FF , 156px 1067px #0000FF , 191px 301px #0000FF , 462px 1057px #0000FF , 1679px 746px #0000FF , 564px 330px #0000FF , 324px 1669px #0000FF , 1452px 402px #0000FF , 274px 486px #0000FF , 1255px 1694px #0000FF , 1195px 1284px #0000FF , 914px 956px #0000FF , 883px 458px #0000FF , 1509px 729px #0000FF , 1997px 399px #0000FF , 585px 62px #0000FF , 990px 1554px #0000FF , 834px 1136px #0000FF , 940px 425px #0000FF , 1143px 1971px #0000FF , 1641px 485px #0000FF , 1222px 971px #0000FF , 1424px 1110px #0000FF , 526px 186px #0000FF , 1026px 1459px #0000FF , 273px 560px #0000FF , 1453px 554px #0000FF , 1988px 1600px #0000FF , 543px 869px #0000FF , 1187px 610px #0000FF , 1148px 602px #0000FF , 1372px 1069px #0000FF , 1345px 291px #0000FF , 1413px 1876px #0000FF , 101px 572px #0000FF , 361px 1080px #0000FF , 461px 50px #0000FF , 191px 282px #0000FF , 1078px 507px #0000FF , 209px 1523px #0000FF , 1862px 291px #0000FF , 1240px 1351px #0000FF , 17px 1191px #0000FF , 1348px 761px #0000FF , 696px 149px #0000FF , 1443px 1891px #0000FF , 1085px 549px #0000FF , 1037px 1965px #0000FF , 439px 1559px #0000FF , 1708px 906px #0000FF , 827px 1474px #0000FF , 397px 187px #0000FF , 868px 1606px #0000FF , 1667px 117px #0000FF , 1376px 1344px #0000FF , 1694px 1969px #0000FF , 300px 878px #0000FF , 742px 1462px #0000FF , 1048px 1249px #0000FF , 1615px 350px #0000FF , 1653px 1870px #0000FF , 1025px 157px #0000FF , 563px 1166px #0000FF , 638px 674px #0000FF , 658px 1404px #0000FF , 347px 615px #0000FF , 551px 683px #0000FF , 1403px 308px #0000FF , 1356px 1005px #0000FF , 281px 1121px #0000FF , 707px 572px #0000FF , 935px 229px #0000FF , 1232px 654px #0000FF , 274px 1196px #0000FF , 58px 1215px #0000FF , 63px 1604px #0000FF , 1884px 1352px #0000FF , 1357px 1260px #0000FF , 1149px 1270px #0000FF , 97px 1601px #0000FF , 1152px 592px #0000FF , 1116px 850px #0000FF , 1036px 397px #0000FF , 528px 1814px #0000FF , 1710px 544px #0000FF , 190px 524px #0000FF , 1138px 1627px #0000FF , 1170px 1512px #0000FF , 1361px 1371px #0000FF , 1578px 1874px #0000FF , 89px 1659px #0000FF , 365px 661px #0000FF , 392px 410px #0000FF , 1096px 595px #0000FF , 1548px 1149px #0000FF , 1238px 1089px #0000FF , 1511px 948px #0000FF , 462px 521px #0000FF , 1356px 347px #0000FF , 1069px 536px #0000FF , 605px 278px #0000FF , 1163px 537px #0000FF , 872px 1989px #0000FF , 1035px 475px #0000FF , 158px 1980px #0000FF , 475px 802px #0000FF , 11px 1526px #0000FF , 430px 486px #0000FF , 892px 75px #0000FF , 606px 1554px #0000FF , 246px 659px #0000FF , 1228px 1070px #0000FF , 966px 607px #0000FF , 1111px 1312px #0000FF , 1095px 1045px #0000FF , 1245px 384px #0000FF , 1343px 1926px #0000FF , 108px 1924px #0000FF , 1951px 830px #0000FF , 145px 222px #0000FF , 1921px 732px #0000FF , 744px 870px #0000FF , 638px 1827px #0000FF , 1971px 1530px #0000FF , 1562px 789px #0000FF , 608px 757px #0000FF , 253px 781px #0000FF , 906px 1206px #0000FF , 249px 425px #0000FF , 1034px 1357px #0000FF , 1522px 1497px #0000FF , 1510px 2000px #0000FF , 1254px 253px #0000FF , 953px 1168px #0000FF , 323px 883px #0000FF , 1911px 922px #0000FF , 951px 1019px #0000FF , 77px 1957px #0000FF , 314px 1960px #0000FF , 979px 1815px #0000FF , 1547px 1761px #0000FF , 122px 1083px #0000FF , 969px 1753px #0000FF , 1306px 1841px #0000FF , 1298px 1555px #0000FF , 176px 341px #0000FF , 463px 961px #0000FF , 1480px 1228px #0000FF , 1264px 291px #0000FF , 1800px 193px #0000FF , 822px 1691px #0000FF , 197px 1093px #0000FF , 796px 62px #0000FF , 1292px 342px #0000FF , 354px 472px #0000FF , 304px 664px #0000FF , 843px 1695px #0000FF , 322px 52px #0000FF , 1078px 437px #0000FF , 1428px 1832px #0000FF , 417px 1213px #0000FF , 1644px 398px #0000FF , 1221px 1148px #0000FF;
  animation: animateStars 28.5s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#stars::after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 519px 1223px #0000FF , 940px 1297px #0000FF , 1371px 804px #0000FF , 1024px 313px #0000FF , 716px 812px #0000FF , 249px 554px #0000FF , 51px 1993px #0000FF , 387px 1942px #0000FF , 1231px 1404px #0000FF , 1825px 1134px #0000FF , 512px 1034px #0000FF , 346px 456px #0000FF , 853px 1291px #0000FF , 706px 1613px #0000FF , 1800px 665px #0000FF , 100px 1162px #0000FF , 560px 1669px #0000FF , 70px 1180px #0000FF , 1837px 1195px #0000FF , 603px 1667px #0000FF , 1805px 831px #0000FF , 810px 1834px #0000FF , 1949px 1913px #0000FF , 1858px 795px #0000FF , 382px 384px #0000FF , 1436px 469px #0000FF , 433px 1390px #0000FF , 931px 819px #0000FF , 1078px 572px #0000FF , 1835px 1115px #0000FF , 1711px 745px #0000FF , 561px 1662px #0000FF , 834px 1294px #0000FF , 1636px 1264px #0000FF , 758px 923px #0000FF , 1582px 1945px #0000FF , 704px 1232px #0000FF , 265px 155px #0000FF , 1167px 884px #0000FF , 1491px 1239px #0000FF , 1740px 1832px #0000FF , 1453px 1035px #0000FF , 173px 1966px #0000FF , 522px 83px #0000FF , 1633px 391px #0000FF , 1662px 1393px #0000FF , 588px 494px #0000FF , 1389px 305px #0000FF , 643px 650px #0000FF , 1364px 1287px #0000FF , 1098px 1879px #0000FF , 943px 1731px #0000FF , 451px 1548px #0000FF , 1972px 1349px #0000FF , 369px 1070px #0000FF , 1383px 143px #0000FF , 860px 51px #0000FF , 1927px 270px #0000FF , 12px 1261px #0000FF , 1834px 194px #0000FF , 883px 1578px #0000FF , 1703px 1802px #0000FF , 698px 1198px #0000FF , 1505px 822px #0000FF , 290px 1975px #0000FF , 659px 208px #0000FF , 799px 1428px #0000FF , 1493px 1043px #0000FF , 428px 1715px #0000FF , 210px 1199px #0000FF , 347px 8px #0000FF , 1091px 372px #0000FF , 1533px 500px #0000FF , 1509px 841px #0000FF , 1448px 1293px #0000FF , 1884px 1473px #0000FF , 712px 26px #0000FF , 116px 759px #0000FF , 1767px 1688px #0000FF , 1594px 357px #0000FF , 1531px 1584px #0000FF , 309px 1598px #0000FF , 847px 1152px #0000FF , 150px 654px #0000FF , 1568px 263px #0000FF , 1056px 1351px #0000FF , 1990px 442px #0000FF , 338px 265px #0000FF , 575px 1587px #0000FF , 166px 480px #0000FF , 698px 520px #0000FF , 222px 1053px #0000FF , 225px 425px #0000FF , 1943px 476px #0000FF , 1135px 179px #0000FF , 1510px 1024px #0000FF , 1415px 819px #0000FF , 917px 762px #0000FF , 1491px 1445px #0000FF , 1540px 1547px #0000FF , 290px 1104px #0000FF , 751px 1936px #0000FF , 788px 753px #0000FF , 1931px 1256px #0000FF , 1407px 239px #0000FF , 1475px 1434px #0000FF , 1140px 1424px #0000FF , 295px 1701px #0000FF , 1717px 1276px #0000FF , 1749px 1535px #0000FF , 1187px 790px #0000FF , 190px 841px #0000FF , 718px 671px #0000FF , 884px 1755px #0000FF , 1907px 885px #0000FF , 1436px 327px #0000FF , 31px 1262px #0000FF , 1365px 618px #0000FF , 1593px 1243px #0000FF , 777px 789px #0000FF , 1264px 716px #0000FF , 1649px 1341px #0000FF , 425px 1596px #0000FF , 513px 579px #0000FF , 1549px 1566px #0000FF , 769px 85px #0000FF , 1404px 1300px #0000FF , 1351px 397px #0000FF , 622px 520px #0000FF , 84px 579px #0000FF , 1395px 1405px #0000FF , 537px 1203px #0000FF , 769px 1574px #0000FF , 728px 1px #0000FF , 1989px 1225px #0000FF , 686px 1473px #0000FF , 1836px 828px #0000FF , 1760px 889px #0000FF , 637px 431px #0000FF , 1924px 1628px #0000FF , 979px 314px #0000FF , 711px 1801px #0000FF , 1585px 1788px #0000FF , 73px 1038px #0000FF , 157px 1149px #0000FF , 1377px 1893px #0000FF , 659px 574px #0000FF , 482px 1468px #0000FF , 1938px 335px #0000FF , 1616px 1019px #0000FF , 508px 1377px #0000FF , 1097px 585px #0000FF , 18px 1045px #0000FF , 619px 892px #0000FF , 32px 1769px #0000FF , 537px 1813px #0000FF , 818px 1911px #0000FF , 1482px 909px #0000FF , 1854px 945px #0000FF , 238px 577px #0000FF , 902px 1639px #0000FF , 1312px 1969px #0000FF , 1522px 1408px #0000FF , 1805px 1490px #0000FF , 1978px 41px #0000FF , 1066px 1308px #0000FF , 1050px 1294px #0000FF , 1px 1319px #0000FF , 112px 511px #0000FF , 239px 1154px #0000FF , 1807px 754px #0000FF , 1981px 502px #0000FF , 430px 1852px #0000FF , 1819px 358px #0000FF , 229px 315px #0000FF , 55px 1082px #0000FF , 334px 1657px #0000FF , 1450px 1724px #0000FF , 742px 1568px #0000FF , 1934px 1643px #0000FF , 1359px 1168px #0000FF , 1287px 428px #0000FF , 220px 701px #0000FF , 1957px 600px #0000FF , 1876px 1932px #0000FF , 623px 1545px #0000FF , 1773px 563px #0000FF , 309px 926px #0000FF , 925px 891px #0000FF , 194px 544px #0000FF , 1748px 16px #0000FF , 1702px 1706px #0000FF , 1157px 854px #0000FF , 316px 1240px #0000FF , 1887px 435px #0000FF , 1933px 1619px #0000FF , 538px 1048px #0000FF , 1642px 1519px #0000FF , 859px 1331px #0000FF , 35px 1118px #0000FF , 1679px 356px #0000FF , 316px 1876px #0000FF , 1643px 864px #0000FF , 875px 1690px #0000FF , 1840px 1188px #0000FF , 350px 819px #0000FF , 215px 405px #0000FF , 111px 1373px #0000FF , 1942px 1933px #0000FF , 476px 843px #0000FF , 729px 787px #0000FF , 1306px 849px #0000FF , 1779px 639px #0000FF , 927px 431px #0000FF , 647px 13px #0000FF , 1614px 1712px #0000FF , 284px 1677px #0000FF , 316px 588px #0000FF , 1544px 521px #0000FF , 544px 1699px #0000FF , 1682px 671px #0000FF , 1224px 1330px #0000FF , 1609px 1902px #0000FF , 627px 1369px #0000FF , 1063px 640px #0000FF , 735px 927px #0000FF , 65px 1300px #0000FF , 667px 1156px #0000FF , 611px 1349px #0000FF , 817px 799px #0000FF , 1855px 1005px #0000FF , 1809px 921px #0000FF , 1038px 77px #0000FF , 633px 1456px #0000FF , 1957px 1217px #0000FF , 976px 1104px #0000FF , 891px 834px #0000FF , 510px 761px #0000FF , 42px 1448px #0000FF , 538px 1911px #0000FF , 1307px 138px #0000FF , 280px 97px #0000FF , 1838px 1890px #0000FF , 940px 452px #0000FF , 877px 521px #0000FF , 14px 1034px #0000FF , 1418px 1108px #0000FF , 649px 1513px #0000FF , 1358px 1930px #0000FF , 411px 30px #0000FF , 564px 612px #0000FF , 108px 331px #0000FF , 24px 55px #0000FF , 1660px 1912px #0000FF , 1664px 1456px #0000FF , 411px 1206px #0000FF , 1538px 1770px #0000FF , 259px 1237px #0000FF , 407px 1224px #0000FF , 79px 1596px #0000FF , 42px 925px #0000FF , 1813px 635px #0000FF , 1284px 843px #0000FF , 840px 322px #0000FF , 468px 164px #0000FF , 341px 519px #0000FF , 1437px 1035px #0000FF , 106px 1647px #0000FF , 916px 849px #0000FF , 4px 785px #0000FF , 356px 1435px #0000FF , 1761px 736px #0000FF , 469px 827px #0000FF , 1073px 439px #0000FF , 841px 1590px #0000FF , 972px 404px #0000FF , 1238px 112px #0000FF , 1366px 817px #0000FF , 29px 1332px #0000FF , 1618px 1609px #0000FF , 191px 1941px #0000FF , 1600px 1284px #0000FF , 1329px 1662px #0000FF , 691px 861px #0000FF , 1446px 308px #0000FF , 1552px 673px #0000FF , 960px 1278px #0000FF , 1782px 1106px #0000FF , 259px 630px #0000FF , 920px 1920px #0000FF , 756px 1561px #0000FF , 1545px 255px #0000FF , 67px 311px #0000FF , 461px 637px #0000FF , 1421px 734px #0000FF , 549px 1666px #0000FF , 140px 391px #0000FF , 1401px 316px #0000FF , 369px 613px #0000FF , 1129px 1625px #0000FF , 1642px 294px #0000FF , 1370px 1144px #0000FF , 610px 1447px #0000FF , 1167px 130px #0000FF , 257px 1022px #0000FF , 1667px 1655px #0000FF , 356px 1903px #0000FF , 1753px 1354px #0000FF , 1773px 1466px #0000FF , 1748px 1337px #0000FF , 1570px 14px #0000FF , 1889px 1329px #0000FF , 692px 250px #0000FF , 1155px 1882px #0000FF , 1657px 759px #0000FF , 1402px 580px #0000FF , 719px 167px #0000FF , 476px 702px #0000FF , 1206px 198px #0000FF , 172px 1425px #0000FF , 1052px 1328px #0000FF , 782px 396px #0000FF , 53px 1788px #0000FF , 1883px 1108px #0000FF , 1099px 987px #0000FF , 1463px 1694px #0000FF , 789px 1343px #0000FF , 225px 988px #0000FF , 1044px 1837px #0000FF , 1699px 1341px #0000FF , 1814px 1111px #0000FF , 1519px 1127px #0000FF , 1392px 1991px #0000FF , 14px 439px #0000FF , 273px 1616px #0000FF , 14px 950px #0000FF , 1273px 1130px #0000FF , 349px 192px #0000FF , 793px 1360px #0000FF , 1150px 1847px #0000FF , 738px 314px #0000FF , 457px 835px #0000FF , 563px 752px #0000FF , 1602px 236px #0000FF , 1656px 986px #0000FF , 611px 742px #0000FF , 1240px 248px #0000FF , 1668px 1058px #0000FF , 741px 1206px #0000FF , 666px 181px #0000FF , 1114px 197px #0000FF , 1497px 396px #0000FF , 279px 1548px #0000FF , 1533px 1380px #0000FF , 1113px 65px #0000FF , 111px 1260px #0000FF , 1433px 107px #0000FF , 367px 1238px #0000FF , 702px 1806px #0000FF , 1284px 1116px #0000FF , 627px 367px #0000FF , 228px 871px #0000FF , 903px 1765px #0000FF , 759px 1972px #0000FF , 38px 1975px #0000FF , 482px 363px #0000FF , 1786px 418px #0000FF , 1337px 805px #0000FF , 1609px 605px #0000FF , 1006px 625px #0000FF , 742px 1835px #0000FF , 1990px 766px #0000FF , 1913px 1129px #0000FF , 1466px 1550px #0000FF , 1151px 148px #0000FF , 389px 738px #0000FF , 1679px 544px #0000FF , 1103px 1536px #0000FF , 9px 1049px #0000FF , 243px 248px #0000FF , 262px 515px #0000FF , 1513px 1827px #0000FF , 373px 825px #0000FF , 794px 702px #0000FF , 1630px 1269px #0000FF , 1411px 800px #0000FF , 1082px 129px #0000FF , 243px 1813px #0000FF , 1515px 762px #0000FF , 210px 278px #0000FF , 1887px 804px #0000FF , 1233px 127px #0000FF , 1213px 290px #0000FF , 378px 1939px #0000FF , 1842px 697px #0000FF , 879px 100px #0000FF , 109px 408px #0000FF , 1605px 1920px #0000FF , 600px 1667px #0000FF , 472px 1106px #0000FF , 1272px 122px #0000FF , 1376px 1607px #0000FF , 524px 477px #0000FF , 44px 1772px #0000FF , 584px 412px #0000FF , 383px 1407px #0000FF , 1366px 1202px #0000FF , 1822px 722px #0000FF , 1650px 1949px #0000FF , 294px 1169px #0000FF , 1653px 1622px #0000FF , 1865px 35px #0000FF , 766px 693px #0000FF , 675px 978px #0000FF , 1272px 409px #0000FF , 378px 519px #0000FF , 330px 1335px #0000FF , 1421px 211px #0000FF , 1910px 1468px #0000FF , 386px 1954px #0000FF , 1937px 1663px #0000FF , 1351px 1702px #0000FF , 604px 1621px #0000FF , 83px 940px #0000FF , 972px 784px #0000FF , 976px 1197px #0000FF , 1649px 1850px #0000FF , 1491px 308px #0000FF , 547px 780px #0000FF , 863px 1380px #0000FF , 885px 1549px #0000FF , 1405px 1147px #0000FF , 1518px 363px #0000FF , 641px 904px #0000FF , 1552px 761px #0000FF , 1441px 676px #0000FF , 567px 441px #0000FF , 1486px 600px #0000FF , 1792px 818px #0000FF , 1627px 1500px #0000FF , 1242px 135px #0000FF , 1736px 597px #0000FF , 1134px 296px #0000FF , 696px 590px #0000FF , 1892px 427px #0000FF , 305px 509px #0000FF , 1726px 1060px #0000FF , 313px 524px #0000FF , 984px 698px #0000FF , 1644px 360px #0000FF , 1632px 635px #0000FF , 293px 67px #0000FF , 1849px 1589px #0000FF , 1762px 1064px #0000FF , 754px 1198px #0000FF , 1759px 80px #0000FF , 1838px 183px #0000FF , 510px 1183px #0000FF , 1616px 200px #0000FF , 758px 1330px #0000FF , 52px 497px #0000FF , 1344px 389px #0000FF , 360px 1674px #0000FF , 1705px 297px #0000FF , 260px 921px #0000FF , 591px 331px #0000FF , 480px 1278px #0000FF , 317px 350px #0000FF , 289px 975px #0000FF , 1542px 37px #0000FF , 1227px 1593px #0000FF , 1463px 1439px #0000FF , 1757px 1956px #0000FF , 533px 1478px #0000FF , 899px 630px #0000FF , 277px 1275px #0000FF , 564px 18px #0000FF , 1915px 1024px #0000FF , 1138px 503px #0000FF , 1475px 1254px #0000FF , 1319px 21px #0000FF , 996px 857px #0000FF , 1148px 121px #0000FF , 1744px 1893px #0000FF , 87px 22px #0000FF , 1336px 1892px #0000FF , 1301px 1011px #0000FF , 1254px 1968px #0000FF , 792px 1115px #0000FF , 1244px 217px #0000FF , 1546px 1944px #0000FF , 1364px 28px #0000FF , 13px 1474px #0000FF , 1274px 583px #0000FF , 1191px 1406px #0000FF , 1586px 1682px #0000FF , 1541px 1244px #0000FF , 1435px 1400px #0000FF , 123px 911px #0000FF , 1248px 1549px #0000FF , 1343px 1093px #0000FF , 359px 714px #0000FF , 1072px 741px #0000FF , 1645px 514px #0000FF , 1016px 257px #0000FF , 577px 65px #0000FF , 1143px 407px #0000FF , 1981px 1433px #0000FF , 853px 230px #0000FF , 1576px 1853px #0000FF , 200px 107px #0000FF , 1163px 844px #0000FF , 1008px 1153px #0000FF , 1347px 485px #0000FF , 1494px 990px #0000FF , 1504px 897px #0000FF , 1913px 1654px #0000FF , 1990px 1919px #0000FF , 619px 894px #0000FF , 1003px 1198px #0000FF , 1528px 1766px #0000FF , 334px 1448px #0000FF , 1235px 1296px #0000FF , 161px 1269px #0000FF , 1677px 1097px #0000FF , 996px 1708px #0000FF , 664px 1710px #0000FF , 739px 275px #0000FF , 1764px 1261px #0000FF , 1595px 961px #0000FF , 485px 1874px #0000FF , 903px 1628px #0000FF , 1878px 203px #0000FF , 1064px 1035px #0000FF , 494px 724px #0000FF , 193px 238px #0000FF , 1749px 1219px #0000FF , 1425px 424px #0000FF , 156px 1067px #0000FF , 191px 301px #0000FF , 462px 1057px #0000FF , 1679px 746px #0000FF , 564px 330px #0000FF , 324px 1669px #0000FF , 1452px 402px #0000FF , 274px 486px #0000FF , 1255px 1694px #0000FF , 1195px 1284px #0000FF , 914px 956px #0000FF , 883px 458px #0000FF , 1509px 729px #0000FF , 1997px 399px #0000FF , 585px 62px #0000FF , 990px 1554px #0000FF , 834px 1136px #0000FF , 940px 425px #0000FF , 1143px 1971px #0000FF , 1641px 485px #0000FF , 1222px 971px #0000FF , 1424px 1110px #0000FF , 526px 186px #0000FF , 1026px 1459px #0000FF , 273px 560px #0000FF , 1453px 554px #0000FF , 1988px 1600px #0000FF , 543px 869px #0000FF , 1187px 610px #0000FF , 1148px 602px #0000FF , 1372px 1069px #0000FF , 1345px 291px #0000FF , 1413px 1876px #0000FF , 101px 572px #0000FF , 361px 1080px #0000FF , 461px 50px #0000FF , 191px 282px #0000FF , 1078px 507px #0000FF , 209px 1523px #0000FF , 1862px 291px #0000FF , 1240px 1351px #0000FF , 17px 1191px #0000FF , 1348px 761px #0000FF , 696px 149px #0000FF , 1443px 1891px #0000FF , 1085px 549px #0000FF , 1037px 1965px #0000FF , 439px 1559px #0000FF , 1708px 906px #0000FF , 827px 1474px #0000FF , 397px 187px #0000FF , 868px 1606px #0000FF , 1667px 117px #0000FF , 1376px 1344px #0000FF , 1694px 1969px #0000FF , 300px 878px #0000FF , 742px 1462px #0000FF , 1048px 1249px #0000FF , 1615px 350px #0000FF , 1653px 1870px #0000FF , 1025px 157px #0000FF , 563px 1166px #0000FF , 638px 674px #0000FF , 658px 1404px #0000FF , 347px 615px #0000FF , 551px 683px #0000FF , 1403px 308px #0000FF , 1356px 1005px #0000FF , 281px 1121px #0000FF , 707px 572px #0000FF , 935px 229px #0000FF , 1232px 654px #0000FF , 274px 1196px #0000FF , 58px 1215px #0000FF , 63px 1604px #0000FF , 1884px 1352px #0000FF , 1357px 1260px #0000FF , 1149px 1270px #0000FF , 97px 1601px #0000FF , 1152px 592px #0000FF , 1116px 850px #0000FF , 1036px 397px #0000FF , 528px 1814px #0000FF , 1710px 544px #0000FF , 190px 524px #0000FF , 1138px 1627px #0000FF , 1170px 1512px #0000FF , 1361px 1371px #0000FF , 1578px 1874px #0000FF , 89px 1659px #0000FF , 365px 661px #0000FF , 392px 410px #0000FF , 1096px 595px #0000FF , 1548px 1149px #0000FF , 1238px 1089px #0000FF , 1511px 948px #0000FF , 462px 521px #0000FF , 1356px 347px #0000FF , 1069px 536px #0000FF , 605px 278px #0000FF , 1163px 537px #0000FF , 872px 1989px #0000FF , 1035px 475px #0000FF , 158px 1980px #0000FF , 475px 802px #0000FF , 11px 1526px #0000FF , 430px 486px #0000FF , 892px 75px #0000FF , 606px 1554px #0000FF , 246px 659px #0000FF , 1228px 1070px #0000FF , 966px 607px #0000FF , 1111px 1312px #0000FF , 1095px 1045px #0000FF , 1245px 384px #0000FF , 1343px 1926px #0000FF , 108px 1924px #0000FF , 1951px 830px #0000FF , 145px 222px #0000FF , 1921px 732px #0000FF , 744px 870px #0000FF , 638px 1827px #0000FF , 1971px 1530px #0000FF , 1562px 789px #0000FF , 608px 757px #0000FF , 253px 781px #0000FF , 906px 1206px #0000FF , 249px 425px #0000FF , 1034px 1357px #0000FF , 1522px 1497px #0000FF , 1510px 2000px #0000FF , 1254px 253px #0000FF , 953px 1168px #0000FF , 323px 883px #0000FF , 1911px 922px #0000FF , 951px 1019px #0000FF , 77px 1957px #0000FF , 314px 1960px #0000FF , 979px 1815px #0000FF , 1547px 1761px #0000FF , 122px 1083px #0000FF , 969px 1753px #0000FF , 1306px 1841px #0000FF , 1298px 1555px #0000FF , 176px 341px #0000FF , 463px 961px #0000FF , 1480px 1228px #0000FF , 1264px 291px #0000FF , 1800px 193px #0000FF , 822px 1691px #0000FF , 197px 1093px #0000FF , 796px 62px #0000FF , 1292px 342px #0000FF , 354px 472px #0000FF , 304px 664px #0000FF , 843px 1695px #0000FF , 322px 52px #0000FF , 1078px 437px #0000FF , 1428px 1832px #0000FF , 417px 1213px #0000FF , 1644px 398px #0000FF , 1221px 1148px #0000FF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 0 515px 564px #0000FF , 1682px 1148px #0000FF , 1967px 1504px #0000FF , 1030px 1587px #0000FF , 1028px 1233px #0000FF , 1762px 260px #0000FF , 287px 716px #0000FF , 641px 1357px #0000FF , 27px 961px #0000FF , 401px 617px #0000FF , 213px 1521px #0000FF , 860px 1178px #0000FF , 1977px 1333px #0000FF , 1406px 316px #0000FF , 646px 1587px #0000FF , 1567px 1325px #0000FF , 497px 1256px #0000FF , 320px 7px #0000FF , 334px 1488px #0000FF , 106px 1563px #0000FF , 1920px 489px #0000FF , 926px 1134px #0000FF , 440px 993px #0000FF , 2000px 1695px #0000FF , 1302px 37px #0000FF , 981px 689px #0000FF , 780px 1080px #0000FF , 872px 1273px #0000FF , 1880px 912px #0000FF , 368px 252px #0000FF , 1332px 40px #0000FF , 529px 1422px #0000FF , 1704px 1241px #0000FF , 809px 151px #0000FF , 502px 871px #0000FF , 963px 1543px #0000FF , 576px 1235px #0000FF , 1424px 1499px #0000FF , 1624px 1814px #0000FF , 390px 624px #0000FF , 488px 1284px #0000FF , 133px 216px #0000FF , 1299px 813px #0000FF , 387px 914px #0000FF , 1212px 1244px #0000FF , 426px 809px #0000FF , 1076px 320px #0000FF , 589px 608px #0000FF , 914px 1034px #0000FF , 470px 1030px #0000FF , 1856px 1528px #0000FF , 1739px 1549px #0000FF , 692px 111px #0000FF , 528px 673px #0000FF , 1111px 1878px #0000FF , 542px 644px #0000FF , 268px 1016px #0000FF , 874px 1868px #0000FF , 260px 603px #0000FF , 1970px 1555px #0000FF , 901px 250px #0000FF , 1374px 1458px #0000FF , 1188px 1289px #0000FF , 130px 74px #0000FF , 1679px 1446px #0000FF , 891px 793px #0000FF , 559px 111px #0000FF , 296px 686px #0000FF , 507px 1370px #0000FF , 544px 421px #0000FF , 1161px 384px #0000FF , 435px 555px #0000FF , 242px 815px #0000FF , 1388px 424px #0000FF , 1333px 1625px #0000FF , 201px 1496px #0000FF , 433px 1828px #0000FF , 1138px 1493px #0000FF , 332px 1855px #0000FF , 1128px 216px #0000FF , 1461px 1723px #0000FF , 1029px 1931px #0000FF , 1176px 446px #0000FF , 22px 603px #0000FF , 1772px 670px #0000FF , 325px 420px #0000FF , 248px 661px #0000FF , 47px 1724px #0000FF , 1348px 1114px #0000FF , 72px 870px #0000FF , 454px 272px #0000FF , 378px 970px #0000FF , 1358px 1093px #0000FF , 776px 1253px #0000FF , 1711px 399px #0000FF , 1347px 1933px #0000FF , 903px 772px #0000FF , 1178px 1856px #0000FF , 238px 1876px #0000FF , 907px 1687px #0000FF , 1341px 1317px #0000FF , 144px 1433px #0000FF , 106px 1620px #0000FF , 1660px 467px #0000FF , 1306px 1457px #0000FF , 850px 452px #0000FF , 1744px 1916px #0000FF , 1601px 925px #0000FF , 1821px 1726px #0000FF , 929px 1368px #0000FF , 531px 5px #0000FF , 541px 185px #0000FF , 709px 1041px #0000FF , 735px 1218px #0000FF , 781px 644px #0000FF , 1175px 289px #0000FF , 199px 970px #0000FF , 1466px 915px #0000FF , 1973px 1929px #0000FF , 21px 1751px #0000FF , 1035px 166px #0000FF , 1195px 1631px #0000FF , 1928px 1744px #0000FF , 716px 1938px #0000FF , 85px 1529px #0000FF , 1076px 716px #0000FF , 1734px 931px #0000FF , 1270px 114px #0000FF , 1475px 1241px #0000FF , 75px 1873px #0000FF , 1338px 1045px #0000FF , 1694px 1447px #0000FF , 1638px 1125px #0000FF , 51px 410px #0000FF , 627px 260px #0000FF , 1038px 430px #0000FF , 693px 1834px #0000FF , 1394px 1945px #0000FF , 1632px 209px #0000FF , 1758px 706px #0000FF , 1581px 1144px #0000FF , 1678px 1759px #0000FF , 1935px 480px #0000FF , 1026px 437px #0000FF , 67px 1811px #0000FF , 877px 1415px #0000FF , 1320px 1888px #0000FF , 1437px 1576px #0000FF , 1473px 1205px #0000FF , 1471px 1215px #0000FF , 339px 598px #0000FF , 1157px 531px #0000FF , 1463px 1378px #0000FF , 649px 125px #0000FF , 53px 716px #0000FF , 265px 1749px #0000FF , 1785px 82px #0000FF , 1494px 33px #0000FF , 831px 945px #0000FF , 1211px 1619px #0000FF , 914px 1443px #0000FF , 360px 1862px #0000FF , 1051px 1933px #0000FF , 1779px 489px #0000FF , 872px 927px #0000FF , 1883px 919px #0000FF , 516px 716px #0000FF , 532px 1519px #0000FF , 1445px 1355px #0000FF , 1332px 344px #0000FF , 856px 896px #0000FF , 162px 181px #0000FF , 1325px 1566px #0000FF , 1075px 1562px #0000FF , 782px 468px #0000FF , 398px 1321px #0000FF , 495px 826px #0000FF , 1732px 1082px #0000FF , 123px 1395px #0000FF , 1240px 924px #0000FF , 1747px 681px #0000FF , 1467px 1404px #0000FF , 1626px 935px #0000FF , 586px 226px #0000FF , 1435px 1005px #0000FF , 308px 1740px #0000FF , 1184px 569px #0000FF , 537px 424px #0000FF , 961px 714px #0000FF , 1474px 1530px #0000FF , 1126px 1319px #0000FF , 1375px 948px #0000FF , 1524px 1953px #0000FF , 1618px 360px #0000FF , 696px 794px #0000FF , 1547px 1329px #0000FF , 1028px 1909px #0000FF , 1334px 1481px #0000FF , 666px 1837px #0000FF , 24px 168px #0000FF;
  animation: animateStars 30s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#stars2::after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 0 515px 564px #0000FF , 1682px 1148px #0000FF , 1967px 1504px #0000FF , 1030px 1587px #0000FF , 1028px 1233px #0000FF , 1762px 260px #0000FF , 287px 716px #0000FF , 641px 1357px #0000FF , 27px 961px #0000FF , 401px 617px #0000FF , 213px 1521px #0000FF , 860px 1178px #0000FF , 1977px 1333px #0000FF , 1406px 316px #0000FF , 646px 1587px #0000FF , 1567px 1325px #0000FF , 497px 1256px #0000FF , 320px 7px #0000FF , 334px 1488px #0000FF , 106px 1563px #0000FF , 1920px 489px #0000FF , 926px 1134px #0000FF , 440px 993px #0000FF , 2000px 1695px #0000FF , 1302px 37px #0000FF , 981px 689px #0000FF , 780px 1080px #0000FF , 872px 1273px #0000FF , 1880px 912px #0000FF , 368px 252px #0000FF , 1332px 40px #0000FF , 529px 1422px #0000FF , 1704px 1241px #0000FF , 809px 151px #0000FF , 502px 871px #0000FF , 963px 1543px #0000FF , 576px 1235px #0000FF , 1424px 1499px #0000FF , 1624px 1814px #0000FF , 390px 624px #0000FF , 488px 1284px #0000FF , 133px 216px #0000FF , 1299px 813px #0000FF , 387px 914px #0000FF , 1212px 1244px #0000FF , 426px 809px #0000FF , 1076px 320px #0000FF , 589px 608px #0000FF , 914px 1034px #0000FF , 470px 1030px #0000FF , 1856px 1528px #0000FF , 1739px 1549px #0000FF , 692px 111px #0000FF , 528px 673px #0000FF , 1111px 1878px #0000FF , 542px 644px #0000FF , 268px 1016px #0000FF , 874px 1868px #0000FF , 260px 603px #0000FF , 1970px 1555px #0000FF , 901px 250px #0000FF , 1374px 1458px #0000FF , 1188px 1289px #0000FF , 130px 74px #0000FF , 1679px 1446px #0000FF , 891px 793px #0000FF , 559px 111px #0000FF , 296px 686px #0000FF , 507px 1370px #0000FF , 544px 421px #0000FF , 1161px 384px #0000FF , 435px 555px #0000FF , 242px 815px #0000FF , 1388px 424px #0000FF , 1333px 1625px #0000FF , 201px 1496px #0000FF , 433px 1828px #0000FF , 1138px 1493px #0000FF , 332px 1855px #0000FF , 1128px 216px #0000FF , 1461px 1723px #0000FF , 1029px 1931px #0000FF , 1176px 446px #0000FF , 22px 603px #0000FF , 1772px 670px #0000FF , 325px 420px #0000FF , 248px 661px #0000FF , 47px 1724px #0000FF , 1348px 1114px #0000FF , 72px 870px #0000FF , 454px 272px #0000FF , 378px 970px #0000FF , 1358px 1093px #0000FF , 776px 1253px #0000FF , 1711px 399px #0000FF , 1347px 1933px #0000FF , 903px 772px #0000FF , 1178px 1856px #0000FF , 238px 1876px #0000FF , 907px 1687px #0000FF , 1341px 1317px #0000FF , 144px 1433px #0000FF , 106px 1620px #0000FF , 1660px 467px #0000FF , 1306px 1457px #0000FF , 850px 452px #0000FF , 1744px 1916px #0000FF , 1601px 925px #0000FF , 1821px 1726px #0000FF , 929px 1368px #0000FF , 531px 5px #0000FF , 541px 185px #0000FF , 709px 1041px #0000FF , 735px 1218px #0000FF , 781px 644px #0000FF , 1175px 289px #0000FF , 199px 970px #0000FF , 1466px 915px #0000FF , 1973px 1929px #0000FF , 21px 1751px #0000FF , 1035px 166px #0000FF , 1195px 1631px #0000FF , 1928px 1744px #0000FF , 716px 1938px #0000FF , 85px 1529px #0000FF , 1076px 716px #0000FF , 1734px 931px #0000FF , 1270px 114px #0000FF , 1475px 1241px #0000FF , 75px 1873px #0000FF , 1338px 1045px #0000FF , 1694px 1447px #0000FF , 1638px 1125px #0000FF , 51px 410px #0000FF , 627px 260px #0000FF , 1038px 430px #0000FF , 693px 1834px #0000FF , 1394px 1945px #0000FF , 1632px 209px #0000FF , 1758px 706px #0000FF , 1581px 1144px #0000FF , 1678px 1759px #0000FF , 1935px 480px #0000FF , 1026px 437px #0000FF , 67px 1811px #0000FF , 877px 1415px #0000FF , 1320px 1888px #0000FF , 1437px 1576px #0000FF , 1473px 1205px #0000FF , 1471px 1215px #0000FF , 339px 598px #0000FF , 1157px 531px #0000FF , 1463px 1378px #0000FF , 649px 125px #0000FF , 53px 716px #0000FF , 265px 1749px #0000FF , 1785px 82px #0000FF , 1494px 33px #0000FF , 831px 945px #0000FF , 1211px 1619px #0000FF , 914px 1443px #0000FF , 360px 1862px #0000FF , 1051px 1933px #0000FF , 1779px 489px #0000FF , 872px 927px #0000FF , 1883px 919px #0000FF , 516px 716px #0000FF , 532px 1519px #0000FF , 1445px 1355px #0000FF , 1332px 344px #0000FF , 856px 896px #0000FF , 162px 181px #0000FF , 1325px 1566px #0000FF , 1075px 1562px #0000FF , 782px 468px #0000FF , 398px 1321px #0000FF , 495px 826px #0000FF , 1732px 1082px #0000FF , 123px 1395px #0000FF , 1240px 924px #0000FF , 1747px 681px #0000FF , 1467px 1404px #0000FF , 1626px 935px #0000FF , 586px 226px #0000FF , 1435px 1005px #0000FF , 308px 1740px #0000FF , 1184px 569px #0000FF , 537px 424px #0000FF , 961px 714px #0000FF , 1474px 1530px #0000FF , 1126px 1319px #0000FF , 1375px 948px #0000FF , 1524px 1953px #0000FF , 1618px 360px #0000FF , 696px 794px #0000FF , 1547px 1329px #0000FF , 1028px 1909px #0000FF , 1334px 1481px #0000FF , 666px 1837px #0000FF , 24px 168px #0000FF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 0 235px 779px #0000FF , 905px 986px #0000FF , 1648px 1031px #0000FF , 1011px 967px #0000FF , 1872px 370px #0000FF , 115px 1899px #0000FF , 403px 970px #0000FF , 1818px 1451px #0000FF , 1941px 342px #0000FF , 1614px 1518px #0000FF , 1321px 1283px #0000FF , 1370px 632px #0000FF , 1593px 660px #0000FF , 1768px 1530px #0000FF , 719px 1295px #0000FF , 286px 40px #0000FF , 1594px 1748px #0000FF , 43px 1422px #0000FF , 636px 1205px #0000FF , 1479px 1184px #0000FF , 1686px 163px #0000FF , 690px 1136px #0000FF , 1123px 1551px #0000FF , 152px 1951px #0000FF , 1794px 1416px #0000FF , 1206px 1776px #0000FF , 871px 415px #0000FF , 433px 583px #0000FF , 808px 329px #0000FF , 410px 368px #0000FF , 1561px 1998px #0000FF , 705px 181px #0000FF , 1687px 1474px #0000FF , 528px 1176px #0000FF , 550px 341px #0000FF , 1604px 184px #0000FF , 1510px 1345px #0000FF , 1045px 1172px #0000FF , 635px 614px #0000FF , 1365px 366px #0000FF , 1578px 1175px #0000FF , 1283px 1607px #0000FF , 561px 1496px #0000FF , 116px 133px #0000FF , 1781px 1917px #0000FF , 990px 1854px #0000FF , 143px 1087px #0000FF , 12px 1437px #0000FF , 1312px 72px #0000FF , 670px 1363px #0000FF , 1719px 328px #0000FF , 255px 63px #0000FF , 394px 1390px #0000FF , 590px 970px #0000FF , 686px 1255px #0000FF , 1049px 691px #0000FF , 404px 981px #0000FF , 1711px 808px #0000FF , 839px 18px #0000FF , 190px 676px #0000FF , 289px 1013px #0000FF , 464px 1596px #0000FF , 710px 1300px #0000FF , 1639px 838px #0000FF , 665px 1849px #0000FF , 1322px 1676px #0000FF , 1118px 1386px #0000FF , 102px 1467px #0000FF , 368px 952px #0000FF , 1591px 1361px #0000FF , 1433px 991px #0000FF , 1474px 1355px #0000FF , 49px 1764px #0000FF , 1723px 1421px #0000FF , 974px 1053px #0000FF , 1617px 1046px #0000FF , 892px 1991px #0000FF , 1584px 740px #0000FF , 1107px 1468px #0000FF , 1552px 209px #0000FF , 516px 1825px #0000FF , 1121px 1405px #0000FF , 1529px 1611px #0000FF , 1264px 1268px #0000FF , 118px 1187px #0000FF , 848px 603px #0000FF , 1252px 1247px #0000FF , 1466px 1377px #0000FF , 1720px 1973px #0000FF , 649px 1883px #0000FF , 888px 1260px #0000FF , 1402px 180px #0000FF , 984px 1488px #0000FF , 363px 1975px #0000FF , 1727px 1081px #0000FF , 131px 1282px #0000FF , 488px 1482px #0000FF , 78px 76px #0000FF , 145px 480px #0000FF , 395px 1136px #0000FF;
  animation: animateStars 31.5s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#stars3:after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 0 235px 779px #0000FF , 905px 986px #0000FF , 1648px 1031px #0000FF , 1011px 967px #0000FF , 1872px 370px #0000FF , 115px 1899px #0000FF , 403px 970px #0000FF , 1818px 1451px #0000FF , 1941px 342px #0000FF , 1614px 1518px #0000FF , 1321px 1283px #0000FF , 1370px 632px #0000FF , 1593px 660px #0000FF , 1768px 1530px #0000FF , 719px 1295px #0000FF , 286px 40px #0000FF , 1594px 1748px #0000FF , 43px 1422px #0000FF , 636px 1205px #0000FF , 1479px 1184px #0000FF , 1686px 163px #0000FF , 690px 1136px #0000FF , 1123px 1551px #0000FF , 152px 1951px #0000FF , 1794px 1416px #0000FF , 1206px 1776px #0000FF , 871px 415px #0000FF , 433px 583px #0000FF , 808px 329px #0000FF , 410px 368px #0000FF , 1561px 1998px #0000FF , 705px 181px #0000FF , 1687px 1474px #0000FF , 528px 1176px #0000FF , 550px 341px #0000FF , 1604px 184px #0000FF , 1510px 1345px #0000FF , 1045px 1172px #0000FF , 635px 614px #0000FF , 1365px 366px #0000FF , 1578px 1175px #0000FF , 1283px 1607px #0000FF , 561px 1496px #0000FF , 116px 133px #0000FF , 1781px 1917px #0000FF , 990px 1854px #0000FF , 143px 1087px #0000FF , 12px 1437px #0000FF , 1312px 72px #0000FF , 670px 1363px #0000FF , 1719px 328px #0000FF , 255px 63px #0000FF , 394px 1390px #0000FF , 590px 970px #0000FF , 686px 1255px #0000FF , 1049px 691px #0000FF , 404px 981px #0000FF , 1711px 808px #0000FF , 839px 18px #0000FF , 190px 676px #0000FF , 289px 1013px #0000FF , 464px 1596px #0000FF , 710px 1300px #0000FF , 1639px 838px #0000FF , 665px 1849px #0000FF , 1322px 1676px #0000FF , 1118px 1386px #0000FF , 102px 1467px #0000FF , 368px 952px #0000FF , 1591px 1361px #0000FF , 1433px 991px #0000FF , 1474px 1355px #0000FF , 49px 1764px #0000FF , 1723px 1421px #0000FF , 974px 1053px #0000FF , 1617px 1046px #0000FF , 892px 1991px #0000FF , 1584px 740px #0000FF , 1107px 1468px #0000FF , 1552px 209px #0000FF , 516px 1825px #0000FF , 1121px 1405px #0000FF , 1529px 1611px #0000FF , 1264px 1268px #0000FF , 118px 1187px #0000FF , 848px 603px #0000FF , 1252px 1247px #0000FF , 1466px 1377px #0000FF , 1720px 1973px #0000FF , 649px 1883px #0000FF , 888px 1260px #0000FF , 1402px 180px #0000FF , 984px 1488px #0000FF , 363px 1975px #0000FF , 1727px 1081px #0000FF , 131px 1282px #0000FF , 488px 1482px #0000FF , 78px 76px #0000FF , 145px 480px #0000FF , 395px 1136px #0000FF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@keyframes animateStars {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(-1, 1, 0, 30deg);
    -ms-transform: rotate3d(-1, 1, 0, 30deg);
    -o-transform: rotate3d(-1, 1, 0, 30deg);
    transform: rotate3d(-1, 1, 0, 30deg);
  }
  50% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  75% {
    -webkit-transform: rotate3d(-1, 1, 0, -30deg);
    -ms-transform: rotate3d(-1, 1, 0, -30deg);
    -o-transform: rotate3d(-1, 1, 0, -30deg);
    transform: rotate3d(-1, 1, 0, -30deg);
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
}
.videoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  position: relative;
}
.videoContainer__placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(1, 1, 46);
  transform-origin: left;
  animation: featuredVideoPlaceholder 1s ease forwards;
}

.placeholder {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Videos/featutedVideoThumbnail.svg");
  background-size: 100%;
  transition: opacity 1s;
}

.videoContainer video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@keyframes featuredVideoPlaceholder {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
.button-animation {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  color: #0000ff;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 4px;
  transition: 0.5s;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
}
.button-animation span {
  position: absolute;
  display: block;
}
.button-animation span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #0000ff);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.button-animation span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #0000ff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.button-animation span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #0000ff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.button-animation span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #0000ff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
.button-animation:hover {
  background-color: #0000ff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #0000ff, 0 0 25px #0000ff, 0 0 50px #0000ff, 0 0 100px #0000ff;
}

/*# sourceMappingURL=style.css.map */
