@keyframes sliderAnim {
  from {
    transform: scale(0.8);
    border-radius: 50%;
  }
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  to {
    transform: scale(1);
    border-radius: 10rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  color: #fff;
}

.app {
  background-color: rgb(238, 237, 233);
  width: 100vw;
  position: relative;
}

.main {
  position: relative;
}

section {
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: transparent;
  width: min(80%, 100vw);
  margin: 0 auto;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.delete {
  display: none;
}

.defaultFixHyperlink {
  color: black;
  text-decoration: none;
}

.header {
  font-size: 1.8rem;
}

.primary-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  position: absolute;
  top: 30%;
  font-size: 3rem;
  z-index: 2;
  animation: homeContentAnim 3s ease forwards;
  backface-visibility: hidden;
}

.primary-text-box h1 {
  font-size: 48px;
  font-weight: 100;
  line-height: 6rem;
}

.primary-text-box h1 span {
  font-weight: 600;
  color: rgb(84, 84, 255);
}

@keyframes homeContentAnim {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}
.header .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  animation: headerAnim 1s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.header {
  position: absolute;
  width: 100%;
  height: 8rem;
  z-index: 3;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  justify-content: flex-end;
}
.header__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  list-style: none;
}
.header__ul-li {
  cursor: pointer;
}
.header__ul-li a {
  text-decoration: none;
  color: currentColor;
}

@keyframes headerFixedAnim {
  from {
    transform: translateY(-10rem);
  }
  to {
    transform: translateY(0rem);
  }
}
@keyframes headerAnim {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
.playerContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202020;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerBtnContainer {
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.player_video-box {
  width: 60%;
  animation: playerVideo 1s ease-in forwards;
}

@keyframes playerVideo {
  from {
    transform: scale(0) rotate(-50deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes playerAnimOn {
  from {
    transform: translateY(200vh) rotate(45deg);
  }
  to {
    transform: translateY(0px) rotate(0deg);
    visibility: visible;
  }
}
@keyframes playerAnimOff {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    visibility: hidden;
  }
}
.homeSectionOne {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.homeSectionOne__container {
  width: 100%;
  height: 100%;
  color: white;
  animation: homeSectionAnim 1.5s cubic-bezier(0.73, -0.03, 0.17, 0.99);
  overflow: hidden;
}

.homeSectionOne .container {
  position: relative;
  height: 100%;
}

@keyframes homeSectionAnim {
  from {
    transform: scale(0) rotate(30deg);
    border-radius: 80%;
  }
  to {
    transform: scale(1) rotate(0deg);
    border-radius: 0rem;
  }
}
.homeSectionTwo {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(1, 1, 46);
}

.homeSectionThree {
  width: 100vw;
  height: 300vh;
  color: black;
  position: relative;
  background-color: rgb(182, 182, 182);
}

.parallax {
  background-image: url("../images/SectionThreeBg.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.homeSectionThree__container .parallax-inner .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  justify-content: space-between;
  height: 100%;
}

.parallax-inner {
  background-color: rgba(5, 0, 29, 0.8);
  width: 100%;
  height: 100%;
  color: white;
}
.parallax-inner__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 50rem;
  gap: 3rem;
  align-items: flex-start;
}

.parallax-inner h2 {
  color: white;
  mix-blend-mode: normal;
}

.parallax-inner h3 {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
}

.homeSectionFour {
  width: 100vw;
  height: 300vh;
}

#stars-container {
  width: 100vw;
  position: absolute;
  z-index: 0;
  background: radial-gradient(ellipse at bottom, #000000 0%, #191f24 100%);
  overflow: hidden;
  -webkit-transform: translate(-50, -50%);
  -ms-transform: translate(-50, -50%);
  -o-transform: translate(-50, -50%);
  transform: translate(-50, -50%);
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 274px 1958px #0000FF , 568px 749px #0000FF , 43px 1165px #0000FF , 1053px 1728px #0000FF , 1149px 210px #0000FF , 595px 592px #0000FF , 1748px 412px #0000FF , 1411px 1807px #0000FF , 1925px 19px #0000FF , 1738px 130px #0000FF , 456px 731px #0000FF , 13px 1757px #0000FF , 268px 77px #0000FF , 776px 1332px #0000FF , 374px 894px #0000FF , 1101px 600px #0000FF , 1893px 1642px #0000FF , 767px 1272px #0000FF , 1166px 563px #0000FF , 1796px 177px #0000FF , 733px 1562px #0000FF , 464px 561px #0000FF , 187px 1088px #0000FF , 707px 1750px #0000FF , 33px 475px #0000FF , 998px 445px #0000FF , 1013px 324px #0000FF , 1173px 1703px #0000FF , 924px 257px #0000FF , 700px 1616px #0000FF , 184px 1507px #0000FF , 306px 222px #0000FF , 773px 1941px #0000FF , 1195px 1119px #0000FF , 1438px 1965px #0000FF , 1899px 245px #0000FF , 1937px 749px #0000FF , 1753px 1128px #0000FF , 5px 529px #0000FF , 558px 1581px #0000FF , 293px 736px #0000FF , 604px 1398px #0000FF , 716px 1079px #0000FF , 1279px 1785px #0000FF , 1941px 1827px #0000FF , 1785px 1487px #0000FF , 815px 283px #0000FF , 108px 1060px #0000FF , 679px 315px #0000FF , 1607px 1603px #0000FF , 679px 346px #0000FF , 393px 17px #0000FF , 1868px 1380px #0000FF , 797px 989px #0000FF , 443px 103px #0000FF , 1923px 72px #0000FF , 229px 1178px #0000FF , 688px 426px #0000FF , 735px 1542px #0000FF , 887px 906px #0000FF , 1711px 705px #0000FF , 1784px 173px #0000FF , 1960px 485px #0000FF , 1722px 1937px #0000FF , 1938px 1278px #0000FF , 1288px 950px #0000FF , 1729px 1971px #0000FF , 1604px 323px #0000FF , 992px 714px #0000FF , 195px 332px #0000FF , 56px 1435px #0000FF , 865px 793px #0000FF , 508px 929px #0000FF , 1807px 949px #0000FF , 1153px 1442px #0000FF , 3px 702px #0000FF , 1793px 1387px #0000FF , 1806px 427px #0000FF , 571px 1482px #0000FF , 1480px 1068px #0000FF , 1231px 1772px #0000FF , 1742px 1642px #0000FF , 163px 689px #0000FF , 1537px 1558px #0000FF , 435px 1179px #0000FF , 25px 168px #0000FF , 941px 19px #0000FF , 1969px 987px #0000FF , 1374px 1239px #0000FF , 1922px 1745px #0000FF , 652px 922px #0000FF , 1896px 1682px #0000FF , 738px 1278px #0000FF , 375px 1326px #0000FF , 420px 1474px #0000FF , 405px 381px #0000FF , 1269px 654px #0000FF , 74px 1368px #0000FF , 1538px 1491px #0000FF , 951px 1775px #0000FF , 798px 1154px #0000FF , 34px 973px #0000FF , 996px 1142px #0000FF , 241px 316px #0000FF , 927px 678px #0000FF , 1241px 205px #0000FF , 364px 1151px #0000FF , 1353px 686px #0000FF , 1788px 89px #0000FF , 1610px 789px #0000FF , 821px 1946px #0000FF , 802px 1247px #0000FF , 1512px 601px #0000FF , 516px 2000px #0000FF , 1288px 1072px #0000FF , 904px 341px #0000FF , 93px 1000px #0000FF , 736px 455px #0000FF , 1073px 512px #0000FF , 273px 131px #0000FF , 1980px 35px #0000FF , 905px 743px #0000FF , 1373px 569px #0000FF , 155px 1342px #0000FF , 966px 613px #0000FF , 1199px 212px #0000FF , 1318px 704px #0000FF , 1151px 513px #0000FF , 401px 1093px #0000FF , 1310px 720px #0000FF , 1096px 415px #0000FF , 1383px 1875px #0000FF , 1221px 1751px #0000FF , 968px 1101px #0000FF , 200px 1219px #0000FF , 1979px 785px #0000FF , 833px 521px #0000FF , 1195px 1248px #0000FF , 1680px 1754px #0000FF , 1812px 1326px #0000FF , 1953px 596px #0000FF , 1662px 234px #0000FF , 1455px 1763px #0000FF , 896px 247px #0000FF , 775px 1754px #0000FF , 873px 462px #0000FF , 1109px 590px #0000FF , 1535px 59px #0000FF , 1952px 851px #0000FF , 1058px 706px #0000FF , 986px 1203px #0000FF , 24px 908px #0000FF , 1364px 966px #0000FF , 1934px 1186px #0000FF , 1401px 1784px #0000FF , 1735px 1039px #0000FF , 949px 1623px #0000FF , 842px 656px #0000FF , 192px 1851px #0000FF , 842px 185px #0000FF , 1914px 1172px #0000FF , 122px 1366px #0000FF , 218px 1453px #0000FF , 945px 33px #0000FF , 660px 142px #0000FF , 1191px 680px #0000FF , 303px 494px #0000FF , 580px 1020px #0000FF , 644px 1128px #0000FF , 110px 217px #0000FF , 1670px 1172px #0000FF , 670px 1619px #0000FF , 27px 929px #0000FF , 1706px 66px #0000FF , 441px 1458px #0000FF , 1373px 1979px #0000FF , 769px 744px #0000FF , 43px 1119px #0000FF , 1116px 124px #0000FF , 14px 1404px #0000FF , 1273px 720px #0000FF , 360px 1760px #0000FF , 1730px 811px #0000FF , 1934px 698px #0000FF , 1895px 1727px #0000FF , 1070px 800px #0000FF , 986px 109px #0000FF , 585px 1267px #0000FF , 446px 1303px #0000FF , 1126px 1092px #0000FF , 1058px 1344px #0000FF , 322px 1539px #0000FF , 826px 852px #0000FF , 1007px 608px #0000FF , 25px 146px #0000FF , 1868px 810px #0000FF , 656px 1469px #0000FF , 1958px 722px #0000FF , 622px 1594px #0000FF , 1546px 1820px #0000FF , 1257px 1877px #0000FF , 1666px 966px #0000FF , 1633px 476px #0000FF , 1091px 657px #0000FF , 64px 1806px #0000FF , 19px 1253px #0000FF , 1124px 852px #0000FF , 529px 1077px #0000FF , 1677px 753px #0000FF , 968px 102px #0000FF , 635px 801px #0000FF , 606px 479px #0000FF , 1491px 675px #0000FF , 1053px 666px #0000FF , 1180px 200px #0000FF , 1079px 217px #0000FF , 734px 62px #0000FF , 1533px 1232px #0000FF , 811px 1635px #0000FF , 1288px 1794px #0000FF , 1533px 1134px #0000FF , 1608px 697px #0000FF , 1407px 502px #0000FF , 1528px 894px #0000FF , 778px 990px #0000FF , 778px 759px #0000FF , 132px 815px #0000FF , 457px 1684px #0000FF , 210px 81px #0000FF , 1840px 476px #0000FF , 1122px 439px #0000FF , 1389px 1120px #0000FF , 1691px 1156px #0000FF , 901px 382px #0000FF , 1518px 1656px #0000FF , 1875px 983px #0000FF , 1665px 1728px #0000FF , 1527px 633px #0000FF , 1607px 81px #0000FF , 220px 1919px #0000FF , 1355px 295px #0000FF , 1077px 1449px #0000FF , 1937px 1276px #0000FF , 660px 1544px #0000FF , 66px 1060px #0000FF , 149px 154px #0000FF , 831px 1029px #0000FF , 1372px 304px #0000FF , 505px 1574px #0000FF , 888px 492px #0000FF , 398px 855px #0000FF , 209px 878px #0000FF , 1507px 797px #0000FF , 1108px 865px #0000FF , 224px 889px #0000FF , 388px 1743px #0000FF , 1306px 1583px #0000FF , 1933px 1245px #0000FF , 1763px 1956px #0000FF , 1187px 713px #0000FF , 1299px 1649px #0000FF , 894px 232px #0000FF , 1943px 849px #0000FF , 927px 73px #0000FF , 247px 143px #0000FF , 1342px 1653px #0000FF , 1910px 1023px #0000FF , 1592px 28px #0000FF , 541px 1452px #0000FF , 878px 376px #0000FF , 434px 693px #0000FF , 671px 1961px #0000FF , 1322px 611px #0000FF , 1572px 188px #0000FF , 1417px 1403px #0000FF , 933px 1253px #0000FF , 1311px 1813px #0000FF , 1702px 518px #0000FF , 234px 592px #0000FF , 865px 1107px #0000FF , 1340px 1796px #0000FF , 144px 619px #0000FF , 952px 86px #0000FF , 1373px 1291px #0000FF , 1736px 1352px #0000FF , 1420px 1342px #0000FF , 1434px 1434px #0000FF , 1275px 1116px #0000FF , 1168px 1266px #0000FF , 132px 827px #0000FF , 1758px 1893px #0000FF , 1590px 39px #0000FF , 1337px 1186px #0000FF , 925px 1353px #0000FF , 754px 1108px #0000FF , 215px 1783px #0000FF , 1649px 1246px #0000FF , 1086px 1549px #0000FF , 219px 1640px #0000FF , 1505px 1967px #0000FF , 54px 1735px #0000FF , 1147px 1232px #0000FF , 1158px 878px #0000FF , 1687px 1510px #0000FF , 1292px 1951px #0000FF , 612px 121px #0000FF , 769px 452px #0000FF , 968px 203px #0000FF , 1332px 34px #0000FF , 515px 1342px #0000FF , 1826px 97px #0000FF , 995px 1360px #0000FF , 214px 1685px #0000FF , 87px 439px #0000FF , 1245px 1845px #0000FF , 258px 326px #0000FF , 890px 1215px #0000FF , 577px 1227px #0000FF , 1164px 97px #0000FF , 1010px 969px #0000FF , 1866px 446px #0000FF , 44px 1474px #0000FF , 583px 1421px #0000FF , 593px 481px #0000FF , 1811px 1585px #0000FF , 570px 1903px #0000FF , 1513px 959px #0000FF , 333px 1301px #0000FF , 535px 118px #0000FF , 1559px 93px #0000FF , 547px 1415px #0000FF , 641px 1984px #0000FF , 1504px 447px #0000FF , 517px 1725px #0000FF , 526px 1101px #0000FF , 1105px 1377px #0000FF , 1946px 499px #0000FF , 1637px 288px #0000FF , 1004px 314px #0000FF , 1701px 1267px #0000FF , 942px 1124px #0000FF , 949px 312px #0000FF , 1870px 1192px #0000FF , 1467px 1302px #0000FF , 1454px 715px #0000FF , 306px 1887px #0000FF , 571px 874px #0000FF , 1348px 1313px #0000FF , 927px 1437px #0000FF , 519px 186px #0000FF , 420px 811px #0000FF , 103px 848px #0000FF , 743px 1149px #0000FF , 1130px 1535px #0000FF , 1733px 234px #0000FF , 417px 504px #0000FF , 983px 513px #0000FF , 68px 268px #0000FF , 968px 764px #0000FF , 1814px 1358px #0000FF , 875px 247px #0000FF , 1349px 114px #0000FF , 619px 1723px #0000FF , 1094px 941px #0000FF , 739px 1px #0000FF , 1873px 1070px #0000FF , 820px 318px #0000FF , 242px 1392px #0000FF , 362px 1839px #0000FF , 752px 1750px #0000FF , 1827px 1766px #0000FF , 1459px 1809px #0000FF , 927px 1362px #0000FF , 1420px 1625px #0000FF , 183px 1765px #0000FF , 1231px 1567px #0000FF , 186px 1919px #0000FF , 777px 477px #0000FF , 643px 1581px #0000FF , 1577px 728px #0000FF , 1086px 957px #0000FF , 1539px 1761px #0000FF , 1075px 311px #0000FF , 593px 1690px #0000FF , 1966px 418px #0000FF , 802px 1453px #0000FF , 653px 295px #0000FF , 1843px 577px #0000FF , 564px 366px #0000FF , 619px 761px #0000FF , 146px 1809px #0000FF , 482px 712px #0000FF , 645px 1859px #0000FF , 674px 216px #0000FF , 1106px 1415px #0000FF , 209px 871px #0000FF , 1153px 428px #0000FF , 655px 717px #0000FF , 619px 824px #0000FF , 999px 402px #0000FF , 1844px 665px #0000FF , 1877px 1356px #0000FF , 245px 852px #0000FF , 325px 1215px #0000FF , 967px 1488px #0000FF , 724px 1857px #0000FF , 1926px 265px #0000FF , 592px 1318px #0000FF , 1511px 317px #0000FF , 1516px 941px #0000FF , 1673px 1638px #0000FF , 108px 523px #0000FF , 1661px 1043px #0000FF , 1081px 1299px #0000FF , 1055px 1014px #0000FF , 144px 158px #0000FF , 1226px 1717px #0000FF , 1184px 1413px #0000FF , 166px 1385px #0000FF , 252px 36px #0000FF , 536px 1126px #0000FF , 1027px 483px #0000FF , 669px 368px #0000FF , 1434px 723px #0000FF , 1745px 1706px #0000FF , 1609px 1868px #0000FF , 1114px 296px #0000FF , 755px 1654px #0000FF , 1758px 530px #0000FF , 726px 1984px #0000FF , 1709px 67px #0000FF , 1878px 3px #0000FF , 1012px 669px #0000FF , 1664px 250px #0000FF , 899px 1354px #0000FF , 297px 1250px #0000FF , 339px 1007px #0000FF , 806px 401px #0000FF , 886px 1266px #0000FF , 940px 1703px #0000FF , 896px 469px #0000FF , 802px 1649px #0000FF , 101px 1326px #0000FF , 1119px 953px #0000FF , 1481px 456px #0000FF , 18px 232px #0000FF , 124px 1345px #0000FF , 406px 1691px #0000FF , 533px 1044px #0000FF , 572px 1715px #0000FF , 698px 1153px #0000FF , 492px 236px #0000FF , 397px 322px #0000FF , 546px 1562px #0000FF , 509px 162px #0000FF , 1918px 1294px #0000FF , 230px 995px #0000FF , 1806px 1162px #0000FF , 1191px 20px #0000FF , 783px 146px #0000FF , 408px 1981px #0000FF , 986px 1008px #0000FF , 1309px 83px #0000FF , 1242px 869px #0000FF , 884px 1520px #0000FF , 1853px 1256px #0000FF , 1771px 1214px #0000FF , 65px 1589px #0000FF , 335px 1225px #0000FF , 1375px 1398px #0000FF , 185px 1528px #0000FF , 1371px 1775px #0000FF , 1341px 12px #0000FF , 136px 581px #0000FF , 722px 1640px #0000FF , 263px 403px #0000FF , 364px 740px #0000FF , 542px 1302px #0000FF , 342px 1005px #0000FF , 1151px 1537px #0000FF , 631px 946px #0000FF , 1217px 795px #0000FF , 1342px 46px #0000FF , 1938px 1607px #0000FF , 567px 826px #0000FF , 1407px 1553px #0000FF , 1091px 742px #0000FF , 645px 1151px #0000FF , 1198px 766px #0000FF , 246px 1611px #0000FF , 1625px 234px #0000FF , 628px 1840px #0000FF , 28px 720px #0000FF , 864px 1001px #0000FF , 1092px 991px #0000FF , 1484px 136px #0000FF , 309px 1785px #0000FF , 1135px 745px #0000FF , 83px 792px #0000FF , 1287px 1346px #0000FF , 1418px 1047px #0000FF , 1228px 1392px #0000FF , 866px 993px #0000FF , 1060px 594px #0000FF , 1612px 1447px #0000FF , 1782px 1543px #0000FF , 762px 1921px #0000FF , 1244px 1693px #0000FF , 1256px 1347px #0000FF , 1804px 15px #0000FF , 88px 424px #0000FF , 593px 905px #0000FF , 98px 1710px #0000FF , 1439px 1251px #0000FF , 208px 594px #0000FF , 1576px 156px #0000FF , 432px 398px #0000FF , 672px 923px #0000FF , 633px 1204px #0000FF , 960px 1375px #0000FF , 592px 1537px #0000FF , 332px 1038px #0000FF , 1992px 1009px #0000FF , 853px 505px #0000FF , 1832px 1399px #0000FF , 373px 1191px #0000FF , 852px 1304px #0000FF , 1414px 727px #0000FF , 611px 472px #0000FF , 1817px 1634px #0000FF , 1932px 1613px #0000FF , 963px 124px #0000FF , 1957px 770px #0000FF , 1533px 1857px #0000FF , 1554px 1495px #0000FF , 1924px 1843px #0000FF , 2000px 1255px #0000FF , 1690px 1976px #0000FF , 673px 1244px #0000FF , 1889px 188px #0000FF , 691px 827px #0000FF , 1121px 1442px #0000FF , 1962px 1215px #0000FF , 391px 59px #0000FF , 736px 957px #0000FF , 570px 1037px #0000FF , 1635px 603px #0000FF , 1529px 321px #0000FF , 724px 1088px #0000FF , 1640px 1212px #0000FF , 321px 1980px #0000FF , 740px 967px #0000FF , 29px 750px #0000FF , 1149px 1683px #0000FF , 1758px 227px #0000FF , 145px 4px #0000FF , 873px 1652px #0000FF , 919px 259px #0000FF , 1418px 225px #0000FF , 1004px 656px #0000FF , 1521px 830px #0000FF , 1669px 1696px #0000FF , 784px 1486px #0000FF , 1909px 860px #0000FF , 106px 128px #0000FF , 371px 1216px #0000FF , 47px 1412px #0000FF , 859px 190px #0000FF , 1901px 911px #0000FF , 1444px 1180px #0000FF , 796px 516px #0000FF , 1835px 983px #0000FF , 1128px 1735px #0000FF , 1884px 1841px #0000FF , 773px 488px #0000FF , 902px 1732px #0000FF , 1783px 275px #0000FF , 946px 1069px #0000FF , 812px 1237px #0000FF , 1312px 1079px #0000FF , 108px 1378px #0000FF , 116px 722px #0000FF , 457px 186px #0000FF , 933px 1227px #0000FF , 1035px 1983px #0000FF , 263px 1186px #0000FF , 515px 1210px #0000FF , 1404px 944px #0000FF , 561px 1340px #0000FF , 793px 788px #0000FF , 1077px 1284px #0000FF , 370px 881px #0000FF , 1189px 1119px #0000FF , 1540px 1878px #0000FF , 1318px 583px #0000FF , 1055px 1298px #0000FF , 1459px 1157px #0000FF , 1096px 1047px #0000FF , 338px 1674px #0000FF , 1910px 1048px #0000FF , 1771px 48px #0000FF , 859px 793px #0000FF , 443px 1117px #0000FF , 1949px 98px #0000FF , 1235px 1179px #0000FF , 593px 493px #0000FF , 1171px 1340px #0000FF , 1724px 1669px #0000FF , 1533px 505px #0000FF , 6px 921px #0000FF , 453px 1906px #0000FF , 791px 1272px #0000FF , 1220px 520px #0000FF , 747px 683px #0000FF , 1838px 81px #0000FF , 752px 1294px #0000FF , 1421px 517px #0000FF , 1599px 1864px #0000FF , 551px 383px #0000FF , 156px 237px #0000FF , 671px 963px #0000FF , 1147px 554px #0000FF , 1405px 1419px #0000FF , 1663px 223px #0000FF , 1195px 329px #0000FF , 1688px 681px #0000FF , 326px 502px #0000FF , 689px 1036px #0000FF , 1445px 177px #0000FF , 1136px 1313px #0000FF , 1616px 1902px #0000FF , 997px 221px #0000FF , 1728px 799px #0000FF , 1859px 1654px #0000FF , 2000px 391px #0000FF , 681px 1701px #0000FF , 627px 1738px #0000FF , 708px 1892px #0000FF , 513px 1778px #0000FF , 281px 807px #0000FF , 833px 1165px #0000FF , 738px 298px #0000FF , 586px 800px #0000FF , 310px 1485px #0000FF , 1371px 585px #0000FF , 1259px 500px #0000FF , 407px 1058px #0000FF , 1913px 108px #0000FF , 867px 1068px #0000FF , 741px 1456px #0000FF , 921px 1450px #0000FF , 758px 1174px #0000FF , 914px 742px #0000FF , 1796px 1320px #0000FF , 557px 1087px #0000FF , 103px 1508px #0000FF , 1879px 492px #0000FF , 12px 1804px #0000FF , 1788px 1114px #0000FF , 1619px 1874px #0000FF , 441px 999px #0000FF , 269px 476px #0000FF , 798px 1048px #0000FF , 577px 1650px #0000FF , 1860px 1089px #0000FF , 27px 319px #0000FF , 729px 1526px #0000FF , 1091px 411px #0000FF , 1855px 1172px #0000FF , 248px 1622px #0000FF , 1471px 763px #0000FF , 1190px 1661px #0000FF , 466px 1242px #0000FF , 1836px 425px #0000FF , 1923px 219px #0000FF , 335px 307px #0000FF , 1378px 517px #0000FF , 441px 1264px #0000FF , 970px 402px #0000FF , 970px 1059px #0000FF , 443px 1572px #0000FF , 855px 1172px #0000FF , 501px 1601px #0000FF , 713px 1190px #0000FF , 771px 164px #0000FF , 1700px 1718px #0000FF , 1074px 41px #0000FF , 392px 371px #0000FF , 1221px 1907px #0000FF , 734px 65px #0000FF , 23px 956px #0000FF , 127px 699px #0000FF , 413px 1874px #0000FF , 917px 1153px #0000FF , 1172px 144px #0000FF , 1763px 1014px #0000FF , 1031px 1716px #0000FF , 647px 979px #0000FF , 1454px 879px #0000FF , 1088px 1211px #0000FF;
  animation: animateStars 28.5s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#stars::after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 274px 1958px #0000FF , 568px 749px #0000FF , 43px 1165px #0000FF , 1053px 1728px #0000FF , 1149px 210px #0000FF , 595px 592px #0000FF , 1748px 412px #0000FF , 1411px 1807px #0000FF , 1925px 19px #0000FF , 1738px 130px #0000FF , 456px 731px #0000FF , 13px 1757px #0000FF , 268px 77px #0000FF , 776px 1332px #0000FF , 374px 894px #0000FF , 1101px 600px #0000FF , 1893px 1642px #0000FF , 767px 1272px #0000FF , 1166px 563px #0000FF , 1796px 177px #0000FF , 733px 1562px #0000FF , 464px 561px #0000FF , 187px 1088px #0000FF , 707px 1750px #0000FF , 33px 475px #0000FF , 998px 445px #0000FF , 1013px 324px #0000FF , 1173px 1703px #0000FF , 924px 257px #0000FF , 700px 1616px #0000FF , 184px 1507px #0000FF , 306px 222px #0000FF , 773px 1941px #0000FF , 1195px 1119px #0000FF , 1438px 1965px #0000FF , 1899px 245px #0000FF , 1937px 749px #0000FF , 1753px 1128px #0000FF , 5px 529px #0000FF , 558px 1581px #0000FF , 293px 736px #0000FF , 604px 1398px #0000FF , 716px 1079px #0000FF , 1279px 1785px #0000FF , 1941px 1827px #0000FF , 1785px 1487px #0000FF , 815px 283px #0000FF , 108px 1060px #0000FF , 679px 315px #0000FF , 1607px 1603px #0000FF , 679px 346px #0000FF , 393px 17px #0000FF , 1868px 1380px #0000FF , 797px 989px #0000FF , 443px 103px #0000FF , 1923px 72px #0000FF , 229px 1178px #0000FF , 688px 426px #0000FF , 735px 1542px #0000FF , 887px 906px #0000FF , 1711px 705px #0000FF , 1784px 173px #0000FF , 1960px 485px #0000FF , 1722px 1937px #0000FF , 1938px 1278px #0000FF , 1288px 950px #0000FF , 1729px 1971px #0000FF , 1604px 323px #0000FF , 992px 714px #0000FF , 195px 332px #0000FF , 56px 1435px #0000FF , 865px 793px #0000FF , 508px 929px #0000FF , 1807px 949px #0000FF , 1153px 1442px #0000FF , 3px 702px #0000FF , 1793px 1387px #0000FF , 1806px 427px #0000FF , 571px 1482px #0000FF , 1480px 1068px #0000FF , 1231px 1772px #0000FF , 1742px 1642px #0000FF , 163px 689px #0000FF , 1537px 1558px #0000FF , 435px 1179px #0000FF , 25px 168px #0000FF , 941px 19px #0000FF , 1969px 987px #0000FF , 1374px 1239px #0000FF , 1922px 1745px #0000FF , 652px 922px #0000FF , 1896px 1682px #0000FF , 738px 1278px #0000FF , 375px 1326px #0000FF , 420px 1474px #0000FF , 405px 381px #0000FF , 1269px 654px #0000FF , 74px 1368px #0000FF , 1538px 1491px #0000FF , 951px 1775px #0000FF , 798px 1154px #0000FF , 34px 973px #0000FF , 996px 1142px #0000FF , 241px 316px #0000FF , 927px 678px #0000FF , 1241px 205px #0000FF , 364px 1151px #0000FF , 1353px 686px #0000FF , 1788px 89px #0000FF , 1610px 789px #0000FF , 821px 1946px #0000FF , 802px 1247px #0000FF , 1512px 601px #0000FF , 516px 2000px #0000FF , 1288px 1072px #0000FF , 904px 341px #0000FF , 93px 1000px #0000FF , 736px 455px #0000FF , 1073px 512px #0000FF , 273px 131px #0000FF , 1980px 35px #0000FF , 905px 743px #0000FF , 1373px 569px #0000FF , 155px 1342px #0000FF , 966px 613px #0000FF , 1199px 212px #0000FF , 1318px 704px #0000FF , 1151px 513px #0000FF , 401px 1093px #0000FF , 1310px 720px #0000FF , 1096px 415px #0000FF , 1383px 1875px #0000FF , 1221px 1751px #0000FF , 968px 1101px #0000FF , 200px 1219px #0000FF , 1979px 785px #0000FF , 833px 521px #0000FF , 1195px 1248px #0000FF , 1680px 1754px #0000FF , 1812px 1326px #0000FF , 1953px 596px #0000FF , 1662px 234px #0000FF , 1455px 1763px #0000FF , 896px 247px #0000FF , 775px 1754px #0000FF , 873px 462px #0000FF , 1109px 590px #0000FF , 1535px 59px #0000FF , 1952px 851px #0000FF , 1058px 706px #0000FF , 986px 1203px #0000FF , 24px 908px #0000FF , 1364px 966px #0000FF , 1934px 1186px #0000FF , 1401px 1784px #0000FF , 1735px 1039px #0000FF , 949px 1623px #0000FF , 842px 656px #0000FF , 192px 1851px #0000FF , 842px 185px #0000FF , 1914px 1172px #0000FF , 122px 1366px #0000FF , 218px 1453px #0000FF , 945px 33px #0000FF , 660px 142px #0000FF , 1191px 680px #0000FF , 303px 494px #0000FF , 580px 1020px #0000FF , 644px 1128px #0000FF , 110px 217px #0000FF , 1670px 1172px #0000FF , 670px 1619px #0000FF , 27px 929px #0000FF , 1706px 66px #0000FF , 441px 1458px #0000FF , 1373px 1979px #0000FF , 769px 744px #0000FF , 43px 1119px #0000FF , 1116px 124px #0000FF , 14px 1404px #0000FF , 1273px 720px #0000FF , 360px 1760px #0000FF , 1730px 811px #0000FF , 1934px 698px #0000FF , 1895px 1727px #0000FF , 1070px 800px #0000FF , 986px 109px #0000FF , 585px 1267px #0000FF , 446px 1303px #0000FF , 1126px 1092px #0000FF , 1058px 1344px #0000FF , 322px 1539px #0000FF , 826px 852px #0000FF , 1007px 608px #0000FF , 25px 146px #0000FF , 1868px 810px #0000FF , 656px 1469px #0000FF , 1958px 722px #0000FF , 622px 1594px #0000FF , 1546px 1820px #0000FF , 1257px 1877px #0000FF , 1666px 966px #0000FF , 1633px 476px #0000FF , 1091px 657px #0000FF , 64px 1806px #0000FF , 19px 1253px #0000FF , 1124px 852px #0000FF , 529px 1077px #0000FF , 1677px 753px #0000FF , 968px 102px #0000FF , 635px 801px #0000FF , 606px 479px #0000FF , 1491px 675px #0000FF , 1053px 666px #0000FF , 1180px 200px #0000FF , 1079px 217px #0000FF , 734px 62px #0000FF , 1533px 1232px #0000FF , 811px 1635px #0000FF , 1288px 1794px #0000FF , 1533px 1134px #0000FF , 1608px 697px #0000FF , 1407px 502px #0000FF , 1528px 894px #0000FF , 778px 990px #0000FF , 778px 759px #0000FF , 132px 815px #0000FF , 457px 1684px #0000FF , 210px 81px #0000FF , 1840px 476px #0000FF , 1122px 439px #0000FF , 1389px 1120px #0000FF , 1691px 1156px #0000FF , 901px 382px #0000FF , 1518px 1656px #0000FF , 1875px 983px #0000FF , 1665px 1728px #0000FF , 1527px 633px #0000FF , 1607px 81px #0000FF , 220px 1919px #0000FF , 1355px 295px #0000FF , 1077px 1449px #0000FF , 1937px 1276px #0000FF , 660px 1544px #0000FF , 66px 1060px #0000FF , 149px 154px #0000FF , 831px 1029px #0000FF , 1372px 304px #0000FF , 505px 1574px #0000FF , 888px 492px #0000FF , 398px 855px #0000FF , 209px 878px #0000FF , 1507px 797px #0000FF , 1108px 865px #0000FF , 224px 889px #0000FF , 388px 1743px #0000FF , 1306px 1583px #0000FF , 1933px 1245px #0000FF , 1763px 1956px #0000FF , 1187px 713px #0000FF , 1299px 1649px #0000FF , 894px 232px #0000FF , 1943px 849px #0000FF , 927px 73px #0000FF , 247px 143px #0000FF , 1342px 1653px #0000FF , 1910px 1023px #0000FF , 1592px 28px #0000FF , 541px 1452px #0000FF , 878px 376px #0000FF , 434px 693px #0000FF , 671px 1961px #0000FF , 1322px 611px #0000FF , 1572px 188px #0000FF , 1417px 1403px #0000FF , 933px 1253px #0000FF , 1311px 1813px #0000FF , 1702px 518px #0000FF , 234px 592px #0000FF , 865px 1107px #0000FF , 1340px 1796px #0000FF , 144px 619px #0000FF , 952px 86px #0000FF , 1373px 1291px #0000FF , 1736px 1352px #0000FF , 1420px 1342px #0000FF , 1434px 1434px #0000FF , 1275px 1116px #0000FF , 1168px 1266px #0000FF , 132px 827px #0000FF , 1758px 1893px #0000FF , 1590px 39px #0000FF , 1337px 1186px #0000FF , 925px 1353px #0000FF , 754px 1108px #0000FF , 215px 1783px #0000FF , 1649px 1246px #0000FF , 1086px 1549px #0000FF , 219px 1640px #0000FF , 1505px 1967px #0000FF , 54px 1735px #0000FF , 1147px 1232px #0000FF , 1158px 878px #0000FF , 1687px 1510px #0000FF , 1292px 1951px #0000FF , 612px 121px #0000FF , 769px 452px #0000FF , 968px 203px #0000FF , 1332px 34px #0000FF , 515px 1342px #0000FF , 1826px 97px #0000FF , 995px 1360px #0000FF , 214px 1685px #0000FF , 87px 439px #0000FF , 1245px 1845px #0000FF , 258px 326px #0000FF , 890px 1215px #0000FF , 577px 1227px #0000FF , 1164px 97px #0000FF , 1010px 969px #0000FF , 1866px 446px #0000FF , 44px 1474px #0000FF , 583px 1421px #0000FF , 593px 481px #0000FF , 1811px 1585px #0000FF , 570px 1903px #0000FF , 1513px 959px #0000FF , 333px 1301px #0000FF , 535px 118px #0000FF , 1559px 93px #0000FF , 547px 1415px #0000FF , 641px 1984px #0000FF , 1504px 447px #0000FF , 517px 1725px #0000FF , 526px 1101px #0000FF , 1105px 1377px #0000FF , 1946px 499px #0000FF , 1637px 288px #0000FF , 1004px 314px #0000FF , 1701px 1267px #0000FF , 942px 1124px #0000FF , 949px 312px #0000FF , 1870px 1192px #0000FF , 1467px 1302px #0000FF , 1454px 715px #0000FF , 306px 1887px #0000FF , 571px 874px #0000FF , 1348px 1313px #0000FF , 927px 1437px #0000FF , 519px 186px #0000FF , 420px 811px #0000FF , 103px 848px #0000FF , 743px 1149px #0000FF , 1130px 1535px #0000FF , 1733px 234px #0000FF , 417px 504px #0000FF , 983px 513px #0000FF , 68px 268px #0000FF , 968px 764px #0000FF , 1814px 1358px #0000FF , 875px 247px #0000FF , 1349px 114px #0000FF , 619px 1723px #0000FF , 1094px 941px #0000FF , 739px 1px #0000FF , 1873px 1070px #0000FF , 820px 318px #0000FF , 242px 1392px #0000FF , 362px 1839px #0000FF , 752px 1750px #0000FF , 1827px 1766px #0000FF , 1459px 1809px #0000FF , 927px 1362px #0000FF , 1420px 1625px #0000FF , 183px 1765px #0000FF , 1231px 1567px #0000FF , 186px 1919px #0000FF , 777px 477px #0000FF , 643px 1581px #0000FF , 1577px 728px #0000FF , 1086px 957px #0000FF , 1539px 1761px #0000FF , 1075px 311px #0000FF , 593px 1690px #0000FF , 1966px 418px #0000FF , 802px 1453px #0000FF , 653px 295px #0000FF , 1843px 577px #0000FF , 564px 366px #0000FF , 619px 761px #0000FF , 146px 1809px #0000FF , 482px 712px #0000FF , 645px 1859px #0000FF , 674px 216px #0000FF , 1106px 1415px #0000FF , 209px 871px #0000FF , 1153px 428px #0000FF , 655px 717px #0000FF , 619px 824px #0000FF , 999px 402px #0000FF , 1844px 665px #0000FF , 1877px 1356px #0000FF , 245px 852px #0000FF , 325px 1215px #0000FF , 967px 1488px #0000FF , 724px 1857px #0000FF , 1926px 265px #0000FF , 592px 1318px #0000FF , 1511px 317px #0000FF , 1516px 941px #0000FF , 1673px 1638px #0000FF , 108px 523px #0000FF , 1661px 1043px #0000FF , 1081px 1299px #0000FF , 1055px 1014px #0000FF , 144px 158px #0000FF , 1226px 1717px #0000FF , 1184px 1413px #0000FF , 166px 1385px #0000FF , 252px 36px #0000FF , 536px 1126px #0000FF , 1027px 483px #0000FF , 669px 368px #0000FF , 1434px 723px #0000FF , 1745px 1706px #0000FF , 1609px 1868px #0000FF , 1114px 296px #0000FF , 755px 1654px #0000FF , 1758px 530px #0000FF , 726px 1984px #0000FF , 1709px 67px #0000FF , 1878px 3px #0000FF , 1012px 669px #0000FF , 1664px 250px #0000FF , 899px 1354px #0000FF , 297px 1250px #0000FF , 339px 1007px #0000FF , 806px 401px #0000FF , 886px 1266px #0000FF , 940px 1703px #0000FF , 896px 469px #0000FF , 802px 1649px #0000FF , 101px 1326px #0000FF , 1119px 953px #0000FF , 1481px 456px #0000FF , 18px 232px #0000FF , 124px 1345px #0000FF , 406px 1691px #0000FF , 533px 1044px #0000FF , 572px 1715px #0000FF , 698px 1153px #0000FF , 492px 236px #0000FF , 397px 322px #0000FF , 546px 1562px #0000FF , 509px 162px #0000FF , 1918px 1294px #0000FF , 230px 995px #0000FF , 1806px 1162px #0000FF , 1191px 20px #0000FF , 783px 146px #0000FF , 408px 1981px #0000FF , 986px 1008px #0000FF , 1309px 83px #0000FF , 1242px 869px #0000FF , 884px 1520px #0000FF , 1853px 1256px #0000FF , 1771px 1214px #0000FF , 65px 1589px #0000FF , 335px 1225px #0000FF , 1375px 1398px #0000FF , 185px 1528px #0000FF , 1371px 1775px #0000FF , 1341px 12px #0000FF , 136px 581px #0000FF , 722px 1640px #0000FF , 263px 403px #0000FF , 364px 740px #0000FF , 542px 1302px #0000FF , 342px 1005px #0000FF , 1151px 1537px #0000FF , 631px 946px #0000FF , 1217px 795px #0000FF , 1342px 46px #0000FF , 1938px 1607px #0000FF , 567px 826px #0000FF , 1407px 1553px #0000FF , 1091px 742px #0000FF , 645px 1151px #0000FF , 1198px 766px #0000FF , 246px 1611px #0000FF , 1625px 234px #0000FF , 628px 1840px #0000FF , 28px 720px #0000FF , 864px 1001px #0000FF , 1092px 991px #0000FF , 1484px 136px #0000FF , 309px 1785px #0000FF , 1135px 745px #0000FF , 83px 792px #0000FF , 1287px 1346px #0000FF , 1418px 1047px #0000FF , 1228px 1392px #0000FF , 866px 993px #0000FF , 1060px 594px #0000FF , 1612px 1447px #0000FF , 1782px 1543px #0000FF , 762px 1921px #0000FF , 1244px 1693px #0000FF , 1256px 1347px #0000FF , 1804px 15px #0000FF , 88px 424px #0000FF , 593px 905px #0000FF , 98px 1710px #0000FF , 1439px 1251px #0000FF , 208px 594px #0000FF , 1576px 156px #0000FF , 432px 398px #0000FF , 672px 923px #0000FF , 633px 1204px #0000FF , 960px 1375px #0000FF , 592px 1537px #0000FF , 332px 1038px #0000FF , 1992px 1009px #0000FF , 853px 505px #0000FF , 1832px 1399px #0000FF , 373px 1191px #0000FF , 852px 1304px #0000FF , 1414px 727px #0000FF , 611px 472px #0000FF , 1817px 1634px #0000FF , 1932px 1613px #0000FF , 963px 124px #0000FF , 1957px 770px #0000FF , 1533px 1857px #0000FF , 1554px 1495px #0000FF , 1924px 1843px #0000FF , 2000px 1255px #0000FF , 1690px 1976px #0000FF , 673px 1244px #0000FF , 1889px 188px #0000FF , 691px 827px #0000FF , 1121px 1442px #0000FF , 1962px 1215px #0000FF , 391px 59px #0000FF , 736px 957px #0000FF , 570px 1037px #0000FF , 1635px 603px #0000FF , 1529px 321px #0000FF , 724px 1088px #0000FF , 1640px 1212px #0000FF , 321px 1980px #0000FF , 740px 967px #0000FF , 29px 750px #0000FF , 1149px 1683px #0000FF , 1758px 227px #0000FF , 145px 4px #0000FF , 873px 1652px #0000FF , 919px 259px #0000FF , 1418px 225px #0000FF , 1004px 656px #0000FF , 1521px 830px #0000FF , 1669px 1696px #0000FF , 784px 1486px #0000FF , 1909px 860px #0000FF , 106px 128px #0000FF , 371px 1216px #0000FF , 47px 1412px #0000FF , 859px 190px #0000FF , 1901px 911px #0000FF , 1444px 1180px #0000FF , 796px 516px #0000FF , 1835px 983px #0000FF , 1128px 1735px #0000FF , 1884px 1841px #0000FF , 773px 488px #0000FF , 902px 1732px #0000FF , 1783px 275px #0000FF , 946px 1069px #0000FF , 812px 1237px #0000FF , 1312px 1079px #0000FF , 108px 1378px #0000FF , 116px 722px #0000FF , 457px 186px #0000FF , 933px 1227px #0000FF , 1035px 1983px #0000FF , 263px 1186px #0000FF , 515px 1210px #0000FF , 1404px 944px #0000FF , 561px 1340px #0000FF , 793px 788px #0000FF , 1077px 1284px #0000FF , 370px 881px #0000FF , 1189px 1119px #0000FF , 1540px 1878px #0000FF , 1318px 583px #0000FF , 1055px 1298px #0000FF , 1459px 1157px #0000FF , 1096px 1047px #0000FF , 338px 1674px #0000FF , 1910px 1048px #0000FF , 1771px 48px #0000FF , 859px 793px #0000FF , 443px 1117px #0000FF , 1949px 98px #0000FF , 1235px 1179px #0000FF , 593px 493px #0000FF , 1171px 1340px #0000FF , 1724px 1669px #0000FF , 1533px 505px #0000FF , 6px 921px #0000FF , 453px 1906px #0000FF , 791px 1272px #0000FF , 1220px 520px #0000FF , 747px 683px #0000FF , 1838px 81px #0000FF , 752px 1294px #0000FF , 1421px 517px #0000FF , 1599px 1864px #0000FF , 551px 383px #0000FF , 156px 237px #0000FF , 671px 963px #0000FF , 1147px 554px #0000FF , 1405px 1419px #0000FF , 1663px 223px #0000FF , 1195px 329px #0000FF , 1688px 681px #0000FF , 326px 502px #0000FF , 689px 1036px #0000FF , 1445px 177px #0000FF , 1136px 1313px #0000FF , 1616px 1902px #0000FF , 997px 221px #0000FF , 1728px 799px #0000FF , 1859px 1654px #0000FF , 2000px 391px #0000FF , 681px 1701px #0000FF , 627px 1738px #0000FF , 708px 1892px #0000FF , 513px 1778px #0000FF , 281px 807px #0000FF , 833px 1165px #0000FF , 738px 298px #0000FF , 586px 800px #0000FF , 310px 1485px #0000FF , 1371px 585px #0000FF , 1259px 500px #0000FF , 407px 1058px #0000FF , 1913px 108px #0000FF , 867px 1068px #0000FF , 741px 1456px #0000FF , 921px 1450px #0000FF , 758px 1174px #0000FF , 914px 742px #0000FF , 1796px 1320px #0000FF , 557px 1087px #0000FF , 103px 1508px #0000FF , 1879px 492px #0000FF , 12px 1804px #0000FF , 1788px 1114px #0000FF , 1619px 1874px #0000FF , 441px 999px #0000FF , 269px 476px #0000FF , 798px 1048px #0000FF , 577px 1650px #0000FF , 1860px 1089px #0000FF , 27px 319px #0000FF , 729px 1526px #0000FF , 1091px 411px #0000FF , 1855px 1172px #0000FF , 248px 1622px #0000FF , 1471px 763px #0000FF , 1190px 1661px #0000FF , 466px 1242px #0000FF , 1836px 425px #0000FF , 1923px 219px #0000FF , 335px 307px #0000FF , 1378px 517px #0000FF , 441px 1264px #0000FF , 970px 402px #0000FF , 970px 1059px #0000FF , 443px 1572px #0000FF , 855px 1172px #0000FF , 501px 1601px #0000FF , 713px 1190px #0000FF , 771px 164px #0000FF , 1700px 1718px #0000FF , 1074px 41px #0000FF , 392px 371px #0000FF , 1221px 1907px #0000FF , 734px 65px #0000FF , 23px 956px #0000FF , 127px 699px #0000FF , 413px 1874px #0000FF , 917px 1153px #0000FF , 1172px 144px #0000FF , 1763px 1014px #0000FF , 1031px 1716px #0000FF , 647px 979px #0000FF , 1454px 879px #0000FF , 1088px 1211px #0000FF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 0 1900px 986px #0000FF , 1895px 1157px #0000FF , 697px 1899px #0000FF , 132px 521px #0000FF , 301px 1772px #0000FF , 1950px 1957px #0000FF , 239px 555px #0000FF , 144px 585px #0000FF , 664px 132px #0000FF , 1124px 471px #0000FF , 735px 202px #0000FF , 600px 90px #0000FF , 1822px 1516px #0000FF , 1980px 1868px #0000FF , 1720px 375px #0000FF , 341px 262px #0000FF , 1492px 1399px #0000FF , 951px 1359px #0000FF , 783px 914px #0000FF , 1957px 1595px #0000FF , 754px 307px #0000FF , 568px 520px #0000FF , 1680px 1948px #0000FF , 579px 1920px #0000FF , 292px 1406px #0000FF , 1085px 184px #0000FF , 1537px 1506px #0000FF , 1912px 1392px #0000FF , 980px 922px #0000FF , 1469px 1362px #0000FF , 1199px 191px #0000FF , 364px 1349px #0000FF , 248px 1026px #0000FF , 1722px 1085px #0000FF , 1043px 1998px #0000FF , 1096px 161px #0000FF , 1429px 560px #0000FF , 277px 995px #0000FF , 198px 1696px #0000FF , 1366px 8px #0000FF , 618px 1342px #0000FF , 583px 1063px #0000FF , 256px 941px #0000FF , 303px 1733px #0000FF , 1820px 221px #0000FF , 1684px 437px #0000FF , 1185px 504px #0000FF , 453px 248px #0000FF , 1020px 995px #0000FF , 852px 1313px #0000FF , 1885px 773px #0000FF , 1614px 1409px #0000FF , 637px 1808px #0000FF , 597px 905px #0000FF , 35px 1371px #0000FF , 40px 738px #0000FF , 851px 1619px #0000FF , 971px 1790px #0000FF , 647px 1696px #0000FF , 72px 1336px #0000FF , 965px 246px #0000FF , 310px 783px #0000FF , 1298px 731px #0000FF , 1180px 220px #0000FF , 1935px 1298px #0000FF , 312px 1251px #0000FF , 1791px 1566px #0000FF , 184px 670px #0000FF , 1775px 34px #0000FF , 117px 1028px #0000FF , 1004px 1849px #0000FF , 784px 1901px #0000FF , 218px 197px #0000FF , 747px 1834px #0000FF , 1826px 466px #0000FF , 471px 1184px #0000FF , 876px 781px #0000FF , 334px 1932px #0000FF , 1931px 1387px #0000FF , 1208px 1103px #0000FF , 1749px 1293px #0000FF , 545px 623px #0000FF , 635px 1591px #0000FF , 1315px 955px #0000FF , 1037px 971px #0000FF , 426px 779px #0000FF , 1349px 1096px #0000FF , 1792px 1651px #0000FF , 553px 1191px #0000FF , 246px 1813px #0000FF , 1692px 1731px #0000FF , 1574px 549px #0000FF , 461px 1604px #0000FF , 360px 763px #0000FF , 1721px 1324px #0000FF , 119px 524px #0000FF , 1544px 1440px #0000FF , 1846px 612px #0000FF , 1281px 1918px #0000FF , 1419px 969px #0000FF , 1430px 434px #0000FF , 1034px 965px #0000FF , 145px 982px #0000FF , 94px 348px #0000FF , 530px 187px #0000FF , 265px 380px #0000FF , 1341px 517px #0000FF , 1661px 1508px #0000FF , 1416px 1718px #0000FF , 440px 209px #0000FF , 564px 107px #0000FF , 1794px 1699px #0000FF , 255px 1934px #0000FF , 1386px 323px #0000FF , 529px 1063px #0000FF , 694px 765px #0000FF , 1385px 1017px #0000FF , 223px 482px #0000FF , 494px 1417px #0000FF , 1680px 1107px #0000FF , 1241px 515px #0000FF , 1860px 979px #0000FF , 463px 1849px #0000FF , 53px 1225px #0000FF , 77px 464px #0000FF , 1282px 1981px #0000FF , 46px 2px #0000FF , 1707px 1968px #0000FF , 1224px 891px #0000FF , 1612px 625px #0000FF , 1993px 1997px #0000FF , 1308px 1662px #0000FF , 1596px 280px #0000FF , 824px 1882px #0000FF , 712px 344px #0000FF , 1418px 1710px #0000FF , 1688px 37px #0000FF , 759px 792px #0000FF , 215px 1685px #0000FF , 1459px 42px #0000FF , 1563px 248px #0000FF , 1825px 144px #0000FF , 1185px 1829px #0000FF , 1118px 442px #0000FF , 823px 1536px #0000FF , 978px 1884px #0000FF , 1616px 1733px #0000FF , 286px 200px #0000FF , 192px 856px #0000FF , 94px 939px #0000FF , 101px 1197px #0000FF , 1094px 522px #0000FF , 1089px 1590px #0000FF , 1306px 537px #0000FF , 1959px 434px #0000FF , 225px 1608px #0000FF , 1523px 1571px #0000FF , 633px 440px #0000FF , 1593px 330px #0000FF , 237px 1972px #0000FF , 1802px 263px #0000FF , 110px 605px #0000FF , 1982px 621px #0000FF , 1621px 1961px #0000FF , 1777px 1235px #0000FF , 1147px 355px #0000FF , 572px 1993px #0000FF , 1571px 760px #0000FF , 725px 1082px #0000FF , 1474px 750px #0000FF , 1901px 1463px #0000FF , 57px 967px #0000FF , 1793px 462px #0000FF , 1184px 1692px #0000FF , 1565px 1095px #0000FF , 1932px 1347px #0000FF , 1081px 1204px #0000FF , 1783px 1061px #0000FF , 1818px 3px #0000FF , 1278px 494px #0000FF , 1768px 1702px #0000FF , 387px 1190px #0000FF , 1937px 869px #0000FF , 1881px 859px #0000FF , 469px 359px #0000FF , 1421px 255px #0000FF , 272px 659px #0000FF , 351px 19px #0000FF , 1642px 1978px #0000FF , 429px 1185px #0000FF , 280px 162px #0000FF , 1617px 734px #0000FF , 1073px 1549px #0000FF , 304px 70px #0000FF , 1308px 338px #0000FF , 1899px 734px #0000FF , 425px 3px #0000FF , 1533px 1320px #0000FF , 1671px 1174px #0000FF , 663px 322px #0000FF;
  animation: animateStars 30s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#stars2::after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 0 1900px 986px #0000FF , 1895px 1157px #0000FF , 697px 1899px #0000FF , 132px 521px #0000FF , 301px 1772px #0000FF , 1950px 1957px #0000FF , 239px 555px #0000FF , 144px 585px #0000FF , 664px 132px #0000FF , 1124px 471px #0000FF , 735px 202px #0000FF , 600px 90px #0000FF , 1822px 1516px #0000FF , 1980px 1868px #0000FF , 1720px 375px #0000FF , 341px 262px #0000FF , 1492px 1399px #0000FF , 951px 1359px #0000FF , 783px 914px #0000FF , 1957px 1595px #0000FF , 754px 307px #0000FF , 568px 520px #0000FF , 1680px 1948px #0000FF , 579px 1920px #0000FF , 292px 1406px #0000FF , 1085px 184px #0000FF , 1537px 1506px #0000FF , 1912px 1392px #0000FF , 980px 922px #0000FF , 1469px 1362px #0000FF , 1199px 191px #0000FF , 364px 1349px #0000FF , 248px 1026px #0000FF , 1722px 1085px #0000FF , 1043px 1998px #0000FF , 1096px 161px #0000FF , 1429px 560px #0000FF , 277px 995px #0000FF , 198px 1696px #0000FF , 1366px 8px #0000FF , 618px 1342px #0000FF , 583px 1063px #0000FF , 256px 941px #0000FF , 303px 1733px #0000FF , 1820px 221px #0000FF , 1684px 437px #0000FF , 1185px 504px #0000FF , 453px 248px #0000FF , 1020px 995px #0000FF , 852px 1313px #0000FF , 1885px 773px #0000FF , 1614px 1409px #0000FF , 637px 1808px #0000FF , 597px 905px #0000FF , 35px 1371px #0000FF , 40px 738px #0000FF , 851px 1619px #0000FF , 971px 1790px #0000FF , 647px 1696px #0000FF , 72px 1336px #0000FF , 965px 246px #0000FF , 310px 783px #0000FF , 1298px 731px #0000FF , 1180px 220px #0000FF , 1935px 1298px #0000FF , 312px 1251px #0000FF , 1791px 1566px #0000FF , 184px 670px #0000FF , 1775px 34px #0000FF , 117px 1028px #0000FF , 1004px 1849px #0000FF , 784px 1901px #0000FF , 218px 197px #0000FF , 747px 1834px #0000FF , 1826px 466px #0000FF , 471px 1184px #0000FF , 876px 781px #0000FF , 334px 1932px #0000FF , 1931px 1387px #0000FF , 1208px 1103px #0000FF , 1749px 1293px #0000FF , 545px 623px #0000FF , 635px 1591px #0000FF , 1315px 955px #0000FF , 1037px 971px #0000FF , 426px 779px #0000FF , 1349px 1096px #0000FF , 1792px 1651px #0000FF , 553px 1191px #0000FF , 246px 1813px #0000FF , 1692px 1731px #0000FF , 1574px 549px #0000FF , 461px 1604px #0000FF , 360px 763px #0000FF , 1721px 1324px #0000FF , 119px 524px #0000FF , 1544px 1440px #0000FF , 1846px 612px #0000FF , 1281px 1918px #0000FF , 1419px 969px #0000FF , 1430px 434px #0000FF , 1034px 965px #0000FF , 145px 982px #0000FF , 94px 348px #0000FF , 530px 187px #0000FF , 265px 380px #0000FF , 1341px 517px #0000FF , 1661px 1508px #0000FF , 1416px 1718px #0000FF , 440px 209px #0000FF , 564px 107px #0000FF , 1794px 1699px #0000FF , 255px 1934px #0000FF , 1386px 323px #0000FF , 529px 1063px #0000FF , 694px 765px #0000FF , 1385px 1017px #0000FF , 223px 482px #0000FF , 494px 1417px #0000FF , 1680px 1107px #0000FF , 1241px 515px #0000FF , 1860px 979px #0000FF , 463px 1849px #0000FF , 53px 1225px #0000FF , 77px 464px #0000FF , 1282px 1981px #0000FF , 46px 2px #0000FF , 1707px 1968px #0000FF , 1224px 891px #0000FF , 1612px 625px #0000FF , 1993px 1997px #0000FF , 1308px 1662px #0000FF , 1596px 280px #0000FF , 824px 1882px #0000FF , 712px 344px #0000FF , 1418px 1710px #0000FF , 1688px 37px #0000FF , 759px 792px #0000FF , 215px 1685px #0000FF , 1459px 42px #0000FF , 1563px 248px #0000FF , 1825px 144px #0000FF , 1185px 1829px #0000FF , 1118px 442px #0000FF , 823px 1536px #0000FF , 978px 1884px #0000FF , 1616px 1733px #0000FF , 286px 200px #0000FF , 192px 856px #0000FF , 94px 939px #0000FF , 101px 1197px #0000FF , 1094px 522px #0000FF , 1089px 1590px #0000FF , 1306px 537px #0000FF , 1959px 434px #0000FF , 225px 1608px #0000FF , 1523px 1571px #0000FF , 633px 440px #0000FF , 1593px 330px #0000FF , 237px 1972px #0000FF , 1802px 263px #0000FF , 110px 605px #0000FF , 1982px 621px #0000FF , 1621px 1961px #0000FF , 1777px 1235px #0000FF , 1147px 355px #0000FF , 572px 1993px #0000FF , 1571px 760px #0000FF , 725px 1082px #0000FF , 1474px 750px #0000FF , 1901px 1463px #0000FF , 57px 967px #0000FF , 1793px 462px #0000FF , 1184px 1692px #0000FF , 1565px 1095px #0000FF , 1932px 1347px #0000FF , 1081px 1204px #0000FF , 1783px 1061px #0000FF , 1818px 3px #0000FF , 1278px 494px #0000FF , 1768px 1702px #0000FF , 387px 1190px #0000FF , 1937px 869px #0000FF , 1881px 859px #0000FF , 469px 359px #0000FF , 1421px 255px #0000FF , 272px 659px #0000FF , 351px 19px #0000FF , 1642px 1978px #0000FF , 429px 1185px #0000FF , 280px 162px #0000FF , 1617px 734px #0000FF , 1073px 1549px #0000FF , 304px 70px #0000FF , 1308px 338px #0000FF , 1899px 734px #0000FF , 425px 3px #0000FF , 1533px 1320px #0000FF , 1671px 1174px #0000FF , 663px 322px #0000FF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 0 1580px 1532px #0000FF , 1197px 1459px #0000FF , 1512px 970px #0000FF , 104px 1470px #0000FF , 1850px 348px #0000FF , 588px 641px #0000FF , 1168px 1264px #0000FF , 897px 1470px #0000FF , 1011px 1808px #0000FF , 816px 74px #0000FF , 834px 718px #0000FF , 1972px 740px #0000FF , 1512px 1052px #0000FF , 314px 1455px #0000FF , 882px 1206px #0000FF , 726px 1582px #0000FF , 576px 1751px #0000FF , 31px 892px #0000FF , 1973px 928px #0000FF , 1551px 581px #0000FF , 1374px 1979px #0000FF , 508px 245px #0000FF , 1134px 288px #0000FF , 723px 334px #0000FF , 555px 168px #0000FF , 1507px 636px #0000FF , 824px 859px #0000FF , 1975px 459px #0000FF , 138px 924px #0000FF , 881px 1225px #0000FF , 183px 1216px #0000FF , 170px 1676px #0000FF , 832px 1222px #0000FF , 1164px 1348px #0000FF , 1396px 1146px #0000FF , 1081px 1900px #0000FF , 78px 464px #0000FF , 946px 90px #0000FF , 1761px 1328px #0000FF , 1792px 663px #0000FF , 573px 1334px #0000FF , 1843px 216px #0000FF , 1897px 1676px #0000FF , 1164px 51px #0000FF , 1680px 1859px #0000FF , 1457px 661px #0000FF , 586px 449px #0000FF , 402px 805px #0000FF , 690px 958px #0000FF , 310px 865px #0000FF , 178px 25px #0000FF , 590px 1010px #0000FF , 188px 321px #0000FF , 1177px 578px #0000FF , 1668px 862px #0000FF , 183px 827px #0000FF , 410px 1408px #0000FF , 1740px 860px #0000FF , 654px 1001px #0000FF , 1452px 1681px #0000FF , 1631px 1187px #0000FF , 759px 1385px #0000FF , 638px 707px #0000FF , 1183px 1895px #0000FF , 1502px 161px #0000FF , 1953px 821px #0000FF , 431px 1095px #0000FF , 1672px 183px #0000FF , 901px 750px #0000FF , 619px 1058px #0000FF , 1893px 1331px #0000FF , 1187px 1745px #0000FF , 1085px 97px #0000FF , 754px 826px #0000FF , 1480px 1462px #0000FF , 1041px 1378px #0000FF , 723px 329px #0000FF , 1547px 322px #0000FF , 947px 1172px #0000FF , 1627px 1935px #0000FF , 132px 876px #0000FF , 1039px 408px #0000FF , 512px 238px #0000FF , 1666px 1029px #0000FF , 1337px 489px #0000FF , 1607px 236px #0000FF , 448px 1474px #0000FF , 626px 1708px #0000FF , 1349px 1563px #0000FF , 1014px 660px #0000FF , 1331px 1402px #0000FF , 1073px 631px #0000FF , 1752px 1500px #0000FF , 138px 1886px #0000FF , 1322px 214px #0000FF , 101px 1810px #0000FF , 350px 222px #0000FF , 1495px 1329px #0000FF , 239px 536px #0000FF , 1764px 1201px #0000FF;
  animation: animateStars 31.5s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#stars3:after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 0 1580px 1532px #0000FF , 1197px 1459px #0000FF , 1512px 970px #0000FF , 104px 1470px #0000FF , 1850px 348px #0000FF , 588px 641px #0000FF , 1168px 1264px #0000FF , 897px 1470px #0000FF , 1011px 1808px #0000FF , 816px 74px #0000FF , 834px 718px #0000FF , 1972px 740px #0000FF , 1512px 1052px #0000FF , 314px 1455px #0000FF , 882px 1206px #0000FF , 726px 1582px #0000FF , 576px 1751px #0000FF , 31px 892px #0000FF , 1973px 928px #0000FF , 1551px 581px #0000FF , 1374px 1979px #0000FF , 508px 245px #0000FF , 1134px 288px #0000FF , 723px 334px #0000FF , 555px 168px #0000FF , 1507px 636px #0000FF , 824px 859px #0000FF , 1975px 459px #0000FF , 138px 924px #0000FF , 881px 1225px #0000FF , 183px 1216px #0000FF , 170px 1676px #0000FF , 832px 1222px #0000FF , 1164px 1348px #0000FF , 1396px 1146px #0000FF , 1081px 1900px #0000FF , 78px 464px #0000FF , 946px 90px #0000FF , 1761px 1328px #0000FF , 1792px 663px #0000FF , 573px 1334px #0000FF , 1843px 216px #0000FF , 1897px 1676px #0000FF , 1164px 51px #0000FF , 1680px 1859px #0000FF , 1457px 661px #0000FF , 586px 449px #0000FF , 402px 805px #0000FF , 690px 958px #0000FF , 310px 865px #0000FF , 178px 25px #0000FF , 590px 1010px #0000FF , 188px 321px #0000FF , 1177px 578px #0000FF , 1668px 862px #0000FF , 183px 827px #0000FF , 410px 1408px #0000FF , 1740px 860px #0000FF , 654px 1001px #0000FF , 1452px 1681px #0000FF , 1631px 1187px #0000FF , 759px 1385px #0000FF , 638px 707px #0000FF , 1183px 1895px #0000FF , 1502px 161px #0000FF , 1953px 821px #0000FF , 431px 1095px #0000FF , 1672px 183px #0000FF , 901px 750px #0000FF , 619px 1058px #0000FF , 1893px 1331px #0000FF , 1187px 1745px #0000FF , 1085px 97px #0000FF , 754px 826px #0000FF , 1480px 1462px #0000FF , 1041px 1378px #0000FF , 723px 329px #0000FF , 1547px 322px #0000FF , 947px 1172px #0000FF , 1627px 1935px #0000FF , 132px 876px #0000FF , 1039px 408px #0000FF , 512px 238px #0000FF , 1666px 1029px #0000FF , 1337px 489px #0000FF , 1607px 236px #0000FF , 448px 1474px #0000FF , 626px 1708px #0000FF , 1349px 1563px #0000FF , 1014px 660px #0000FF , 1331px 1402px #0000FF , 1073px 631px #0000FF , 1752px 1500px #0000FF , 138px 1886px #0000FF , 1322px 214px #0000FF , 101px 1810px #0000FF , 350px 222px #0000FF , 1495px 1329px #0000FF , 239px 536px #0000FF , 1764px 1201px #0000FF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@keyframes animateStars {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(-1, 1, 0, 30deg);
    -ms-transform: rotate3d(-1, 1, 0, 30deg);
    -o-transform: rotate3d(-1, 1, 0, 30deg);
    transform: rotate3d(-1, 1, 0, 30deg);
  }
  50% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  75% {
    -webkit-transform: rotate3d(-1, 1, 0, -30deg);
    -ms-transform: rotate3d(-1, 1, 0, -30deg);
    -o-transform: rotate3d(-1, 1, 0, -30deg);
    transform: rotate3d(-1, 1, 0, -30deg);
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
}
.videoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  position: relative;
}
.videoContainer__placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(1, 1, 46);
  transform-origin: left;
  animation: featuredVideoPlaceholder 1s ease forwards;
}

.placeholder {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Videos/featutedVideoThumbnail.svg");
  background-size: 100%;
  transition: opacity 1s;
}

.videoContainer video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@keyframes featuredVideoPlaceholder {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
.button-animation {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  color: #0000ff;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 4px;
  transition: 0.5s;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
}
.button-animation span {
  position: absolute;
  display: block;
}
.button-animation span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #0000ff);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.button-animation span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #0000ff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.button-animation span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #0000ff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.button-animation span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #0000ff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
.button-animation:hover {
  background-color: #0000ff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #0000ff, 0 0 25px #0000ff, 0 0 50px #0000ff, 0 0 100px #0000ff;
}

.logo-swiper {
  background-color: white;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
.logo-swiper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  z-index: 1;
}
.logo-swiper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  z-index: 1;
}

.logo-slider {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}

.logos-slide img {
  width: 180px;
  height: 180px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=style.css.map */
