.playerContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $mat-gray;
  z-index: 10;
}

@keyframes playerAnimOn {
  from {
    transform: translateY(120vh) rotate(45deg);
  }
  to {
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes playerAnimOff {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
