.homeSectionSix {
  width: 100vw;
  height: 100vh;
  background-color: $mat-gray;
  background-image: radial-gradient(circle, #00008b83 1%, $mat-gray 40%);
  position: relative;
  text-align: center;
  flex-direction: column;
  padding: 5rem 0;

  @include respond(smallPhone) {
    background-image: radial-gradient(circle, $mat-gray 1%, $mat-gray 40%);
    height: 85vh;
  }
  @include respond(phone) {
    background-image: radial-gradient(circle, $mat-gray 1%, $mat-gray 40%);
    height: 85vh;
  }

  &-span {
    color: $light-blue;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;

    @include respond(smallPhone) {
      letter-spacing: 0.1rem;
    }
    @include respond(phone) {
      letter-spacing: 0.1rem;
    }
  }
}
.homeSectionSix h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: $mid-gray;
  width: 60rem;
  font-size: $font-medium;
  margin: 0 auto;

  @include respond(smallPhone) {
    width: 80%;
    font-size: 2rem;
  }
  @include respond(phone) {
    width: 80%;
    font-size: 2rem;
  }
}
.globecontainer {
  @include center("center");
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  z-index: 0;
  overflow: hidden;
  background-image: url("../images/social-one_blurr.svg");
  background-size: 120%;
  background-position: center;
  border: 0.08px solid rgba(189, 188, 188, 0.185);
  box-shadow: 0 0 20px 10px rgba(1, 1, 68, 0.5);

  z-index: 10;
  @include center(flex);

  @include respond(smallPhone) {
    width: 10rem;
    height: 10rem;
    top: 60vh;
  }
  @include respond(phone) {
    width: 10rem;
    height: 10rem;
    top: 60vh;
  }
}
.logoContainer {
  width: 10rem;
  height: 10rem;
  animation: logoRotate 8s linear infinite forwards;
}

@keyframes logoRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
