.homeSectionOne {
  width: 100%;
  height: 100vh;

  &__container {
    width: 100%;
    height: 100%;

    color: white;
    background-color: black;
    animation: homeSectionAnim 1.5s cubic-bezier(0.73, -0.03, 0.17, 0.99);

    overflow: hidden;
  }
}

@keyframes homeSectionAnim {
  from {
    transform: scale(0) rotate(30deg);
    border-radius: 80%;
  }
  to {
    transform: scale(1) rotate(0deg);
    border-radius: 0rem;
  }
}
