.homeSectionThree {
  width: 100vw;
  color: black;
  position: relative;
  background-color: $white-color;
  height: fit-content;
}
.parallax {
  background-image: url("../images/SectionThreeBg.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100%;
  height: 30rem;
  @include center(flex);
  position: relative;
}
.homeSectionThree__container .parallax-inner .container {
  @include center(flex);
  gap: 3rem;
  justify-content: space-between;
  height: 100%;

  ///////////////////////////////////////////////////////////////////
  /// ///////////////////////////
  /// ////////////////////
  // Media Query

  @include respond(smallPhone) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  @include respond(phone) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  /* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */
}
.parallax-inner {
  background-color: rgba(5, 0, 29, 0.8);
  @include fillArea;
  color: white;

  ///////////////////////////////////////////////////////////////////
  /// ///////////////////////////
  /// ////////////////////
  // Media Query

  @include respond(smallPhone) {
    height: 101%; //adjustment
  }
  @include respond(phone) {
    height: 101%; //adjustment
  }

  /* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */

  &__text {
    @include center(flex);
    flex-direction: column;
    max-width: 50rem;
    gap: 3rem;
    align-items: flex-start;
  }
}

.parallax-inner h2 {
  color: white;
  mix-blend-mode: normal;

  ///////////////////////////////////////////////////////////////////
  /// ///////////////////////////
  /// ////////////////////
  // Media Query

  @include respond(smallPhone) {
    margin: 0 auto;
  }
  @include respond(phone) {
    margin: 0 auto;
  }

  /* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */
}
.parallax-inner h3 {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
}
.logoSwiperContainer {
  ///////////////////////////////////////////////////////////////////
  /// ///////////////////////////
  /// ////////////////////
  // Media Query

  @include respond(smallPhone) {
    width: 100%;
    padding-bottom: 1rem; //Adjustment
  }
  @include respond(phone) {
    width: 100%;
    padding-bottom: 1rem; //Adjustment
  }

  /* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */
}
