.homeSectionSeven {
  width: 100vw;
  height: fit-content;
  background-color: $mat-gray;
}
.homeSectionSeven .container {
  padding: 5rem 0;
  height: 100%;

  @include respond(smallPhone) {
    padding: 0;
    padding-bottom: 5rem;
  }
  @include respond(phone) {
    padding: 0;
    padding-bottom: 5rem;
  }
}

.content-box {
  @include fillArea;
  @include grid("2-col", 2rem);

  @include respond(smallPhone) {
    grid-template-columns: 1fr;
    gap: 0;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.rightSideTextbox {
  height: fit-content;
  padding: 3rem 0;

  @include respond(smallPhone) {
    padding: 0;
  }
  @include respond(phone) {
    padding: 0;
  }
}

.leftSideTextbox {
  position: relative;

  &__mainHeading {
    position: sticky;
    top: 40%;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;

    @include respond(smallPhone) {
      position: static;
    }
    @include respond(phone) {
      position: static;
    }
  }
}
.leftSideTextbox h2 {
  font-size: $font-medium;
  color: $mid-gray;

  @include respond(smallPhone) {
    padding-bottom: 2rem;
  }
  @include respond(phone) {
    padding-bottom: 2rem;
  }
}
.leftSideTextbox span {
  color: $light-blue;
}
