.homeSectionOne {
  width: 100vw;
  height: 100vh;
  position: relative;
  &__container {
    @include fillArea;

    color: white;
    animation: homeSectionAnim 1.5s cubic-bezier(0.73, -0.03, 0.17, 0.99);
    overflow: hidden;
  }
}
.homeSectionOne .container {
  position: relative;
  height: 100%;
}

@keyframes homeSectionAnim {
  from {
    transform: scale(0) rotate(30deg);
    border-radius: 80%;
  }
  to {
    transform: scale(1) rotate(0deg);
    border-radius: 0rem;
  }
}
