.homeSectionFour {
  width: 100vw;
  height: 200vh;
  background-color: white;
  color: $text-gray;
  transition: all 1s;
}

.homeSectionFour .container {
  padding-top: 5rem;
  transition: all 1s;
  &__span {
    transition: all 1s;
    color: $primary-blue;
  }
  &__title {
    transition: all 1s;
    margin-bottom: 2rem;
  }
  &__text {
    transition: all 1s;
    width: 80%;
  }
}
.about-section-img-box {
  margin-top: 5rem;
  @include grid("2-col", 3rem);
}
.about-section-img-container {
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 30px rgba(0, 0, 0, 0.2);
}
