.homeSectionTwo {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $dark-blue;

  ///////////////////////////////////////////////////////////////////
  /// ///////////////////////////
  /// ////////////////////
  // Media Query

  @include respond(smallPhone) {
    height: 40vh;
  }
  @include respond(phone) {
    height: 40vh;
  }

  /* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */
}
