@keyframes sliderAnim {
  from {
    transform: scale(0.8);
    border-radius: 50%;
  }
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  to {
    transform: scale(1);
    border-radius: 5rem;
  }
}
