.learn-more {
  background-color: transparent;
  border: none;
  color: $primary-blue;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 0;
  cursor: pointer;

  @include respond(smallPhone) {
    padding: 0;
  }
  @include respond(phone) {
    padding: 0;
  }
}
