.expertizeContainer {
  @include respond(smallPhone) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  @include respond(phone) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.expertise {
  width: 50%;
  position: absolute;

  ///////////////////////////////////////////////////////////////////
  /// ///////////////////////////
  /// ////////////////////
  // Media Query

  @include respond(smallPhone) {
    position: static;
    height: fit-content !important;
    width: 100%;
  }
  @include respond(phone) {
    text-align: center;
    position: static;
    height: fit-content !important;
    width: 100%;
  }

  /* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */

  &__container {
    width: 60%;
    height: 100%;
    flex-direction: column;
    gap: 3rem;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.5s;

    ///////////////////////////////////////////////////////////////////
    /// ///////////////////////////
    /// ////////////////////
    // Media Query

    @include respond(smallPhone) {
      width: 100%;
      margin: 0;
    }
    @include respond(phone) {
      width: 100%;
      margin: 0;
    }

    /* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */
  }
  &__captions-box {
    transition: opacity 0.5s;
    margin: 3rem;

    ///////////
    /// ///////////////////////////
    /// ////////////////////
    // Media Query

    @include respond(smallPhone) {
      width: 100%;
      margin: 0;
    }
    @include respond(phone) {
      width: 100%;
      margin: 0;
    }

    /* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */
  }
  &__container:hover .imageContainer {
    transform: scale(1.1);

    @include respond(smallPhone) {
      transform: none;
    }
    @include respond(phone) {
      transform: none;
    }
  }
  &__container:hover .learn-more {
    transform: translateY(0rem);
    opacity: 1;

    @include respond(smallPhone) {
      transform: none;
    }
    @include respond(phone) {
      transform: none;
    }
  }
}
.expertise .learn-more {
  opacity: 0;
  transform: translateY(1rem);
  transition: all 0.5s;

  @include respond(smallPhone) {
    opacity: 1;
  }
  @include respond(phone) {
    opacity: 1;
  }
}
.imageContainer {
  margin: 0 auto;
  transition: transform 0.5s ease;
}
.imageContainer:hover {
  transform: scale(1.1);

  @include respond(smallPhone) {
    transform: none;
  }
  @include respond(phone) {
    transform: none;
  }
}
