.videoContainer {
  @include fillArea;

  // background-color: $primary-blue;
  @include center(flex);
  object-fit: cover;
  position: relative;

  &__placeholder {
    position: absolute;

    @include fillArea;

    background-color: $dark-blue;
    transform-origin: left;
    animation: featuredVideoPlaceholder 1s ease forwards;
  }
}
.placeholder {
  position: absolute;

  @include absolute;
  @include fillArea;

  background-image: url("../Videos/featutedVideoThumbnail.svg");
  background-size: 100%;
  transition: opacity 1s;
}

.videoContainer video {
  object-fit: cover;

  @include fillArea;
}

@keyframes featuredVideoPlaceholder {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
