* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
}
.app {
  background-color: black;
  width: 100vw;
  min-height: 100vh;
}

.container {
  background-color: rgb(121, 121, 121);
  width: min(1200px, 100%);
  @include centerContent;
}
