* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  color: $white-color;
}
.app {
  background-color: $light-gray;
  width: 100vw;
  position: relative;
}
.main {
  position: relative;
}
section {
  width: 100vw;
  height: 100vh;
}
.container {
  background-color: transparent;
  width: 80%;
  @include centerContent;
}

// /* The scrollbar itself */
// ::-webkit-scrollbar {
//   width: 12px; /* Width of the scrollbar */
//   height: 12px; /* Height of the scrollbar for horizontal scrollbar */
// }

// /* The part of the scrollbar track */
// ::-webkit-scrollbar-track {
//   background: $primary-blue; /* Background color of the track */
// }

// /* The part of the scrollbar thumb */
// ::-webkit-scrollbar-thumb {
//   background: $light-gray; /* Background color of the thumb */
//   border-radius: 6px; /* Rounded corners for the thumb */
// }

// /* The part of the scrollbar thumb when hovered */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; /* Background color of the thumb when hovered */
// }
