* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  color: $white-color;
}
.app {
  background-color: $light-gray;
  width: 100vw;
  position: relative;
}
.main {
  position: relative;
}
section {
  width: 100vw;
  height: 100vh;
}
.container {
  background-color: transparent;
  width: min(80%, 100vw);
  @include centerContent;
}
