.section-about-title {
  transition: all 1s;
  color: $primary-blue;
}
.section-title {
  font-size: 6rem;
  font-weight: 600;
  width: 60%;
  line-height: 130%;
  margin: 2rem 0;
  color: $mat-gray;

  ///////////////////////////////////////////////////////////////////
  /// ///////////////////////////
  /// ////////////////////
  // Media Query

  @include respond(smallPhone) {
    width: 100%;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  @include respond(phone) {
    width: 100%;
    font-size: 3rem;
  }

  /* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */
}
.section-title-small {
  font-size: 2rem;
  font-weight: 600;
  line-height: 130%;
  margin: 1rem 0;
  color: $title-gray;

  @include respond(smallPhone) {
    margin: 0;

    line-height: 120%;
  }
  @include respond(phone) {
  }
}
.section-text {
  color: $text-gray;
}

.header {
  font-size: 1.8rem;
}
.primary-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  position: absolute;
  top: 30%;
  font-size: 3rem;
  z-index: 2;
  animation: homeContentAnim 3s ease forwards;
  backface-visibility: hidden;

  ///////////////////////////////////////////////////////////////////
  /// ///////////////////////////
  /// ////////////////////
  // Media Query

  @include respond(smallPhone) {
    top: 20%;
  }
  @include respond(phone) {
    top: 20%;
  }

  /* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */
}
.primary-text-box h1 {
  font-size: 48px;
  font-weight: 100;
  line-height: 6rem;
}
.primary-text-box h1 span {
  font-weight: 600;
  color: rgb(84, 84, 255);
}

@keyframes homeContentAnim {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}
