.header {
  font-size: 1.8rem;
}
.primary-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;

  position: absolute;
  top: 30%;
  font-size: 3rem;
  z-index: 2;
  animation: homeContentAnim 3s ease forwards;
  backface-visibility: hidden;
}
.primary-text-box h1 {
  font-size: 48px;
  font-weight: 100;
  line-height: 6rem;
}
.primary-text-box h1 span {
  font-weight: 600;
  color: rgb(84, 84, 255);
}

@keyframes homeContentAnim {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}
